div.chart-title {
    font-weight: bold;
}
div.chart-series-icon {
    width: 10px;
    height: 10px;
    float: left;
    margin: 4px 4px 0;
}
div.chart-series {
    font-weight: normal;
}
div.chart-series-0 div.chart-series-icon {
    background-color: #000;
}
div.chart-series-1 div.chart-series-icon {
    background-color: rgba(0,0,0,0.3);
}
div#chart-tip {
	display: none;
	position: absolute;
	background: rgba(255,255,255,0.9);
	padding: 5px;
	border-radius: 4px;
	box-shadow: 5px 10px 20px 5px rgba(0,0,0,0.5);
	min-width: 80px;
	z-index: 2000;
}
div.chart-tip-title {
	font-weight: bold;
}
div.chart-tip-0:before, div.chart-tip-1:before {
	content: 'xx';
	margin-right: 3px;
	text-shadow: none;
	color: rgba(0,0,0,0);
}
div.chart-tip-0:before {
	background-color: #000;
}
div.chart-tip-1:before {
	background-color: rgba(0,0,0,0.3);
}