span.current-value {
	font-weight: normal;
	float: right;
    max-width: 11.25rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;	
}
a.ui-collapsible-heading-toggle {
    white-space: normal;
}
.ui-collapsible {
	border-radius: .2em;
}
