span.current-value {
	font-weight: normal;
	float: right;
    max-width: 180px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;	
}
.nyc-clpsbl a.ui-collapsible-heading-toggle {
    white-space: normal;
	padding: 8px 16px 8px 40px;
}
.ui-collapsible {
	border-radius: 3px;
}
