.ctl {
	position: absolute;
	z-index: 100;
} 
.ctl-btn.ui-btn {
	width: 35px;
	height: 35px;
	margin: 0;
	padding: 0;
}
.ctl-btn.ui-btn, .ctl-btn.ui-btn:visited {
	background-color: var(--theme-ctl-bg-color);
}
.ctl-btn.ui-btn:hover {
	background-color: var(--theme-ctl-bg-color-hover);
}
.ctl-btn.ui-btn:after, .ctl-btn.ui-btn:hover:after {
	background-color: transparent;
	background-size: 20px;
}
.noshow {
	display: none;
}
a.ui-btn {
	padding: 8px 3px;
	box-shadow: none;
}