div.dia-container {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 5000;
	background-color: transparent;
}
.dia-container * {
	font-size: 1rem;	
}
.dia {
	position: fixed;
	left: 50%;
	top: 50%;
	width: 15rem;
	min-height: 5rem;
	padding: .5rem;
	margin-top: -5rem;
	margin-left: -8rem;
	background-color: #fff;
	border-radius: .2rem;
	border: 1px solid rgba(0,0,0,0.1);
	box-shadow: .2rem .2rem .4rem rgba(0,0,0,0.1);
}
.dia-btns a {
	width: 5rem;
	margin: .3125rem .125rem .125rem .125rem;
}
.dia-btns, .dia-msg {
	text-align: center;
	margin-top: .3125rem;
}
.dia .ui-input-text {
	width: 100%;
}
@media only screen and (min-width : 31.25rem) {
	.dia-3-btns .dia {
		width: 22.2rem;
		margin-left: -11.6rem;
	}
}
@media only screen and (max-width : 31.2rem) {
	.dia-3-btns .dia-btns a {
		width: 3.4375rem;
	}
}
