#dir-page {
	overflow: hidden;
}
#dir-main {
	position: fixed;
	top: 44px;
	left: 0;
	height: 100%;
	width: calc(100% - 320px);
}
#dir-map {
	width: 100%;
	height: 100%;
}
#dir-panel {
	position: fixed;
	top: 44px;
	right: 0;
	height: 100%;
	width: 400px;
	background-color: var(--theme-pop-bg-color);
	z-index: 1000;
}
#dir-content {
	margin: 5px;
}
#directions {
	margin: 5px 0 0 5px;
	overflow: auto;
}
.fld-lbl {
	font-weight: bold;
}
#fld-from {
	width: 100%;
	border-radius: 4px;
	font-size: 17px;
}
#dir-mode {
	width: 100%;
	border-collapse: collapse;
	height: 50px;
}
#dir-mode td {
	text-align: center;
}
.ui-btn.dir-mode-btn {
	width: 38px;
	height: 38px;
	padding: 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 27px;
}
#mode-car {
	background-image: var(--theme-dir-car-bg-img);
}
#mode-transit {
	background-image: var(--theme-dir-transit-bg-img);
}
#mode-bike {
	background-image: var(--theme-dir-bike-bg-img);
}
#mode-walk {
	background-image: var(--theme-dir-walk-bg-img);
}
#dir-toggle {
	display: none;
}
.dir-mode-btn.ui-btn, .dir-mode-btn.ui-btn:visited {
	background-color: var(--theme-ctl-bg-color);
}
.dir-mode-btn.active-mode, .dir-mode-btn.ui-btn:hover {
	background-color: var(--theme-ctl-bg-color-hover);
}
.adp-agencies {
    font-size: 100%;
}
#mta-btn {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22512%22%20height%3D%22512%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E.st0%7Bfill%3A%230039A6%3B%7D.st1%7Bfill%3A%23fff%3B%7D.st2%7Bfill%3Anone%3Bstroke%3A%23fff%3Bstroke-width%3A5%3Bstroke-linecap%3Around%3B%7D%3C%2Fstyle%3E%3Cg%20transform%3D%22translate(28.11026%2C6)%22%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M%200.4%2C106.9%20C%2045.6%2C42.3%20120.6%2C0%20205.4%2C0%20c%20138.1%2C0%20250%2C111.9%20250%2C250%200%2C138.1%20-111.9%2C250%20-250%2C250%20C%20124%2C500%2051.6%2C461%206%2C400.8%22%2F%3E%3Cpath%20class%3D%22st1%22%20d%3D%22m%2034%2C395.8%20c%200%2C0%200%2C-87.4%20-0.8%2C-97.3%200%2C-9.5%20-4.7%2C-64.2%20-3.7%2C-73.4%20l%202.6%2C0.1%2032.8%2C165.3%2045.9%2C-8.1%2026.7%2C-153.1%20c%200.8%2C0%202.2%2C0%203%2C0%201.4%2C9.4%20-2.4%2C53.8%20-2.4%2C63.3%20-0.8%2C9.9%20-0.8%2C85%20-0.8%2C85%20l%2046.5%2C-8.1%200%2C-230.5%20-72.6%2C-12.6%20-20.4%2C141.2%20C%2090.1%2C267.6%2070.2%2C119.2%2070.2%2C119.2%20L%200%2C107%205.7%2C400.8%22%2F%3E%3Cpolygon%20class%3D%22st1%22%20points%3D%22329.4%2C321.1%20351.8%2C318.2%20354.7%2C339.6%20380.9%2C335.1%20355.8%2C169.2%20324.6%2C163.8%20293%2C350.5%20326.3%2C344.6%22%2F%3E%3Cpolygon%20class%3D%22st1%22%20points%3D%22195.9%2C200.5%20231.1%2C203.6%20231.2%2C361.2%20274.2%2C353.7%20274.2%2C207.4%20302%2C209.7%20302%2C159.5%20195.9%2C141.1%22%2F%3E%3Cpolygon%20class%3D%22st0%22%20points%3D%22339.4%2C225.6%20334.4%2C281.2%20347.3%2C280.4%20342.5%2C225.6%22%2F%3E%3Cpath%20class%3D%22st2%22%20d%3D%22M%200.4%2C106.9%20C%2045.6%2C42.3%20120.6%2C0%20205.4%2C0%20c%20138.1%2C0%20250%2C111.9%20250%2C250%200%2C138.1%20-111.9%2C250%20-250%2C250%20C%20124%2C500%2051.6%2C461%206%2C400.8%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  color: #fff;
  width: 100px;
  background-position: 4px 6px;
  padding: 10px 0 0 25px;
  height: 30px;
}
#dir-map .btn-z-in, #dir-map .btn-z-out {
	left: 3px;
}
#dir-map .btn-z-in {
	top: 3px;
}
#dir-map .btn-z-out {
	top: 43px;
}
@media only screen and (max-width : 485px) {
	#dir-toggle {
		display: block;
		position: fixed;
		top: 0;
		right: 0;
		margin: 48px 2px;
		z-index: 1000
	}
	#dir-content {
		margin: 22px 5px 5px 5px;
	}
	#dir-toggle a {
		font-size: 13px;
	}
	#dir-main {
		width: 100%;
	}
	#dir-panel {
		width: 100%;
	}
}
