#dir-page {
	overflow: hidden;
}
#dir-main {
	position: fixed;
	top: 44px;
	left: 0;
	height: 100%;
	width: calc(100% - 320px);
}
#dir-map {
	width: 100%;
	height: 100%;
}
#dir-panel {
	position: fixed;
	top: 44px;
	right: 0;
	height: 100%;
	width: 320px;
	background-color: var(--theme-pop-bg-color);
	z-index: 1000;
}
#dir-content {
	margin: 5px;
}	
#directions {
	margin: 5px 0 0 5px;	
	overflow: auto;
}
.fld-lbl {
	font-weight: bold;
}
#fld-from {
	width: 100%;
	border-radius: 4px;
	font-size: 17px;
}
#dir-mode {
	width: 100%;
	border-collapse: collapse;
	height: 50px;
}
#dir-mode td {
	padding: 0 13px;	
}
.dir-mode-btn {
	width: 44px;
	height: 44px;
	padding: 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 27px;
}
#mode-car {
	background-image: var(--theme-dir-car-bg-img);
}
#mode-transit {	
	background-image: var(--theme-dir-transit-bg-img);
}
#mode-bike {
	background-image: var(--theme-dir-bike-bg-img);
}
#mode-walk {
	background-image: var(--theme-dir-walk-bg-img);
}
#dir-toggle {
	display: none;
}
.dir-mode-btn, .dir-mode-btn:visited {
	background-color: var(--theme-ctl-bg-color); 	
}
.dir-mode-btn.active-mode, .dir-mode-btn:hover {
	background-color: var(--theme-ctl-bg-color-hover); 
}
.adp-agencies {
    font-size: 100%;
}
@media only screen and (max-width : 485px) {
	#dir-toggle {
		display: block;
		position: fixed;
		top: 0;
		right: 0;
		margin: 48px 2px;
		z-index: 1000
	}
	#dir-content {
		margin: 22px 5px 5px 5px;
	}
	#dir-toggle a {
		font-size: 13px;
	}
	#dir-main {
		width: 100%;
	}
	#dir-panel {
		width: 100%;
	}
}