.draw-btn {
	position: fixed;
	top: 3px;
	right: 3px;
	cursor: pointer;
	background-size: 23px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: var(--theme-draw-bg-img);
}
.draw-btn-mnu {
    max-height: calc(100% - 45px);
    overflow-x: hidden;
    overflow-y: auto;
}
.draw-mnu-btn.ui-btn {
	background-color: var(--theme-ctl-bg-color);
}

.draw-mnu-btn.ui-btn:hover, .draw-btn:hover, .draw-mnu-btn.ui-btn:active, .draw-btn:active {
	background-color: var(--theme-ctl-bg-color-hover);
}
.draw-btn span {
	display: none;
}
.draw-ctx-mnu, .draw-btn-mnu {
	display: none;
}
.ui-page-theme-a .draw-ctx-mnu button, .ui-page-theme-a .draw-btn-mnu button, .ui-page-theme-a .draw-ctx-mnu button:hover, .ui-page-theme-a .draw-btn-mnu button:hover {
	color: var(--theme-ctl-text-color);
}
.draw-btn-mnu {
	top: 34px;
	right: 3px;
}
.draw-btn-mnu button, .draw-ctx-mnu button {
	width: 145px;
	text-align: left;
	padding: 7px;
	cursor: pointer;
}
.draw-ctx-mnu button {
	width: 150px;
}
.draw-btn-mnu button {
	padding-left: 31px;
}
.draw-btn-mnu button:before {
	content: ' ';
	background-repeat: no-repeat;
	background-position: center;
	background-size: 18px;
	width: 18px;
	height: 18px;
	position: absolute;
	left: 8px;
}
.draw-btn.point, .draw-mnu-btn.point:before {
	background-image: var(--theme-draw-point-bg-img); 
}
.draw-btn.line, .draw-mnu-btn.line:before {
	background-image: var(--theme-draw-line-bg-img);
}
.draw-btn.polygon, .draw-mnu-btn.polygon:before {
	background-image: var(--theme-draw-polygon-bg-img);
}
.draw-btn.circle, .draw-mnu-btn.circle:before {
	background-image: var(--theme-draw-circle-bg-img); 
}
.draw-btn.square, .draw-mnu-btn.square:before {
	background-image: var(--theme-draw-square-bg-img);
}
.draw-btn.box, .draw-mnu-btn.box:before {
	background-image: var(--theme-draw-box-bg-img);
}
.draw-btn.free, .draw-mnu-btn.free:before {
	background-image: var(--theme-draw-free-bg-img);
}
.draw-btn.gps, .draw-mnu-btn.gps:before {
	background-image: var(--theme-zoom-geo-bg-img);
}
.draw-mnu-btn.delete:before {
	background-image: var(--theme-draw-delete-bg-img);
}
.draw-btn-mnu .draw-mnu-btn.cancel:before {
	background-image: var(--theme-draw-cancel-bg-img);
}
.draw-mnu-btn.move:before {
	background-image: var(--theme-draw-move-bg-img);
}
.draw-mnu-btn.save:before {
	background-image: var(--theme-draw-save-bg-img);
}
.draw-mnu-btn.save {
	display: none;
}