.draw-btn {
	position: fixed;
	top: 3px;
	right: 3px;
	cursor: pointer;
	background-size: 23px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: var(--theme-draw-bg-img);
}
.draw-mnu-btn button {
	background-color: var(--theme-ctl-bg-color);
	border: none;
	border-bottom: var(--theme-ctl-border);
}
.draw-mnu-btn button.ui-corner-top {
	border-top: var(--theme-ctl-border);
	border-top-right-radius: var(--theme-border-radius);
	border-top-left-radius: var(--theme-border-radius);
}
.draw-mnu-btn button.ui-corner-bottom {
	border-bottom-right-radius: var(--theme-border-radius);
	border-bottom-left-radius: var(--theme-border-radius);
}
.draw-mnu-btn button {
	margin: 0;
}
.draw-mnu-btn button:hover, .draw-btn:hover, .draw-mnu-btn button:active, .draw-btn:active {
	background-color: var(--theme-ctl-bg-color-hover);
}
.draw-btn span {
	display: none;
}
.draw-ctx-mnu, .draw-btn-mnu {
	display: none;
}
.ui-page-theme-a .draw-ctx-mnu button, .ui-page-theme-a .draw-btn-mnu button, .ui-page-theme-a .draw-ctx-mnu button:hover, .ui-page-theme-a .draw-btn-mnu button:hover {
	color: var(--theme-ctl-text-color);
}
.draw-btn-mnu {
	top: 43px;
	right: 3px;
}
.draw-btn-mnu button, .draw-ctx-mnu button {
	width: 120px;
	text-align: left;
	padding: 3px;
	cursor: pointer;
}
.draw-ctx-mnu button {
	width: 150px;
}
.draw-mnu-btn button {
	padding-left: 26px;
}
.draw-mnu-btn.point button:before, 
.draw-mnu-btn.line button:before, 
.draw-mnu-btn.polygon button:before, 
.draw-mnu-btn.circle button:before, 
.draw-mnu-btn.square button:before, 
.draw-mnu-btn.box button:before, 
.draw-mnu-btn.free button:before, 
.draw-mnu-btn.delete button:before,
.draw-mnu-btn.move button:before,
.draw-mnu-btn.cancel button:before {
	content: ' ';
	background-repeat: no-repeat;
	background-position: center;
	background-size: 18px;
	width: 18px;
	height: 18px;
	position: absolute;
	left: 3px;
}
.draw-btn.point, .draw-mnu-btn.point button:before {
	background-image: var(--theme-draw-point-bg-img); 
}
.draw-btn.line, .draw-mnu-btn.line button:before {
	background-image: var(--theme-draw-line-bg-img);
}
.draw-btn.polygon, .draw-mnu-btn.polygon button:before {
	background-image: var(--theme-draw-polygon-bg-img);
}
.draw-btn.circle, .draw-mnu-btn.circle button:before {
	background-image: var(--theme-draw-circle-bg-img); 
}
.draw-btn.square, .draw-mnu-btn.square button:before {
	background-image: var(--theme-draw-square-bg-img);
}
.draw-btn.box, .draw-mnu-btn.box button:before {
	background-image: var(--theme-draw-box-bg-img);
}
.draw-btn.free, .draw-mnu-btn.free button:before {
	background-image: var(--theme-draw-free-bg-img);
}
.draw-mnu-btn.delete button:before {
	background-image: var(--theme-draw-delete-bg-img);
}
.draw-btn-mnu .draw-mnu-btn.cancel button:before {
	background-image: var(--theme-draw-cancel-bg-img);
}
.draw-mnu-btn.move button:before {
	background-image: var(--theme-draw-move-bg-img);
}