html, body.ui-overlay-a, div.ui-page-active {
	padding: 0;
	margin: 0;
 	height: 100%;
	background-color: rgba(0,0,0,0);
	overflow: hidden !important;
}
* {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-shadow: none !important;
}
#first-load {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #E8E8E8;
	z-index: 1000000;
}
#first-load td {
	text-align: center;
}
#first-load img {
	width: 13.75rem;
	height: 4.6875rem;
}
#first-load p {
	font-size: 2rem;
	font-weight: bold;
	color: black;
	text-align: center;
	margin-top: -1rem;
}
#map {
	height: 50%;
}
#facility {
	height: calc(50% - 3.5rem);
	overflow: auto;
}
#map, #facility, #filter {
	left: 0;
	right: 0;
	margin: 0 0 .2rem 0;
}
#map, #facility {
	border: 1px solid rgba(0,0,0,0.3);
}
#map, #facility, div.ol-viewport {
	border-radius: 0.2em;
}
#facility table {
	width: 100%;
}
#filter {
	display: none;
}
label[for="filter-choices"], #filter div.ui-select {
	display: table-cell;
	padding-right: .2rem;
}
label[for="filter-choices"] {
	font-weight: bold;
}
#filter-choices-button {
	min-width: 12.5rem;
}
#facility table {
	border-collapse: collapse;
}
tr.facility-info {
	cursor: pointer;
}
tr.even-row {
	background-color: rgba(0,0,0,0.1);
}
tr.facility-info td {
	display: table-cell;
	padding: .1rem;
}
td.facility-icon img {
	width: 1.5rem;
	height: 1.5rem;
}
td.facility-distance {
	font-size: .67rem;
	width: 2.5rem;
	text-align: center;
}