.feature-tip, .feature-tip-helper {
	position: absolute;
	border-radius: 3px;
	padding: 3px;
	font-size: 12px;
	max-width: 150px;
	text-align: center;
	background-color: rgba(255,255,255,0.8);
	font-family: helvetica;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);	
}