html, body, h1, #map, .inf-full-screen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#map {
  top: 45px;
  right: 400px;
  background-color: #E8E8E8;
}
.inf-full-screen {
  top: 45px;
  right: 0;
  background-color: #fff;
  display: none;
  padding: 10px;
  overflow: auto;
  z-index: 1000;
}
.inf-full-screen .popup-content {
  width: auto;
}
.pager-btns {
  display: block;
  z-index: 1000;
  position: fixed;
  bottom: 0;
  width: calc(100% - 24px);
  background-color: #fff;
  padding: 15px 12px 0 12px;
}
.popup .pager-btns {
  position: relative;
  padding: 7px 3px 0;
  width: calc(100% - 6px);
}
.ui-mobile-viewport h1.banner {
  bottom: calc(100% - 45px);
  margin: 0;
  padding: 8px 0 0 83px;
  z-index: 1;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22149%22%20height%3D%2252%22%3E%3Cg%20style%3D%22fill%3A%23fff%3Bfill-opacity%3A1%3Bstroke%3Anone%3Bstroke-opacity%3A1%22%3E%3Cpolygon%20points%3D%2249.7%2C4.3%2046.6%2C1.2%2034.1%2C1.2%2031%2C4.3%2031%2C16.7%2015.5%2C1.2%203.1%2C1.2%200%2C4.3%200%2C47.7%203.1%2C50.8%2015.5%2C50.8%2018.6%2C47.7%2018.6%2C35.3%2034.1%2C50.8%2046.6%2C50.8%2049.7%2C47.7%22%2F%3E%3Cpolyline%20points%3D%2249.7%2C22.9%2065.2%2C38.4%2065.2%2C47.7%2068.3%2C50.8%2080.7%2C50.8%2083.8%2C47.7%2083.8%2C38.4%2099.3%2C22.9%2099.3%2C10.5%2099.3%2C4.3%2096.2%2C1.2%2083.8%2C1.2%2080.7%2C4.3%2080.7%2C10.5%2074.5%2C16.7%2068.3%2C10.5%2068.3%2C4.3%2065.2%2C1.2%2052.8%2C1.2%2049.7%2C4.3%22%2F%3E%3Cpolyline%20points%3D%2299.3%2C41.5%20108.6%2C50.8%20139.7%2C50.8%20149%2C41.5%20149%2C32.2%20145.9%2C29.1%20130.4%2C29.1%20130.4%2C32.2%20118%2C32.2%20118%2C19.8%20130.4%2C19.8%20130.4%2C22.9%20145.9%2C22.9%20149%2C19.8%20149%2C10.5%20139.7%2C1.2%20108.6%2C1.2%2099.3%2C10.5%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 3px 12px;
  background-size: 71px 24px;
  background-repeat: no-repeat;
}
.ui-mobile-viewport h1.banner, h1.banner span {
  background-color: #000;
  color: #fff;
  font-size: 24px;
  line-height: 35px;
  overflow: hidden;
}
#map-page {
  position: fixed;
  background-color: transparent;
}
#map-page .ui-content, #dir-page .ui-content {
  overflow: hidden;
  position: fixed;
  top: 45px;
  bottom: 0;
  width: 100%;
}
#panel, #dir-panel {
  position: fixed;
  width: 400px;
  top: 45px;
  right: 0;
  bottom: 0;
  z-index: 1000;
  padding: 0;
  border-left: 1px solid var(--theme-pop-border-color);
}
#panel-content {
  height: 100%;
}
#tabs {
  padding: 0;
  height: 100%;
}
#tabs .ui-navbar a, #tabs .ui-navbar a span {
  height: 22px;
  padding: 13px 0 9px;
  text-shadow: none;
  border: none;
}
#tabs .ui-navbar li {
  width: 50%;
}
.finder-no-filter #tabs .ui-navbar li {
  display: none;
}
li#map-tab-btn, .finder-no-filter  li#filter-tab-btn {
  display: none;
}
#tabs div.ui-tabs-panel {
  height: calc(100% - 45px);
  overflow-x: hidden;
  overflow-y: auto;
}
.finder-no-filter #tabs div.ui-tabs-panel {
  height: 100%;
}
#filter-tab, #facility-list {
  background-color: #fff;
}
#facility-list div.info {
  padding: 10px 5px 5px;
}
#facility-tab {
    background-color: #fff;
}
.name {
  font-weight: bold;
}
.info .icon {
  width: 21px;
  height: 21px;
  float: left;
  margin: -3px 5px -10px 0;
}
.info .ui-btn {
  margin: 0 3px;
  padding-left: 30px;
  padding-right: 30px;
  background-repeat: no-repeat;
  background-position: 5px 8px;
  background-size: 22px;
  display: inline-block;
  width: calc(50% - 68px);
}
.info .detail {
  margin-top: 0;
}
.info .detail .ui-btn, .popup .directions.ui-btn {
  display: block;
  width: auto;
  text-align: center;
}
.detail .ui-collapsible-content {
  background-color: var(--theme-pop-border-color);
}
.even-row .detail .ui-collapsible-content {
  background-color: #fff;
}
.detail .ui-btn:after {
  background-color: var(--theme-ctl-bg-color);
  left: 5px;
}
.detail .ui-collapsible-content {
  padding: 10px;
  margin: 0 3px;
}
.popup .directions.ui-btn {
  margin-bottom: 5px;
}
.info .phone.ui-btn {
  background-image: var(--theme-finder-phone-bg-img);
  padding-right: 0;
  width: calc(50% - 38px);
}
.info .web.ui-btn {
  background-image: var(--theme-finder-web-bg-img);
  background-size: 32px;
  background-position-y: 3px;
}
.info .map.ui-btn {
	background-image: var(--theme-finder-map-bg-img);
}
.info .directions.ui-btn {
	background-image: var(--theme-finder-direct-bg-img);
}
.popup .info .map.ui-btn {
  display: none;
}
#facility-list .info.even-row {
  background-color: var(--theme-pop-border-color);
}
#btn-more {
  margin: 0 8px;
}
.ctl-btn.ui-btn,
a.popup-closer,
.fld-srch-container .ui-input-clear:after,
.ctl-btn.ui-btn:visited,
.ui-page-theme-a .dir-mode-btn,
.ui-page-theme-a .dir-mode-btn:visited,
#back-to-map:after,
#lang-hint-arrow a:after {
  /* background-color: rgba(0,0,0,.5) */;
}
.ctl-btn.ui-btn:hover,
a.popup-closer:hover,
.fld-srch-container .ui-input-clear:hover:after,
.ui-page-theme-a .dir-mode-btn:hover,
.ui-page-theme-a .dir-mode-btn.active-mode,
#back-to-map:hover:after,
#lang-hint-arrow a:hover:after {
  /* background-color: #000; */;
}
#back-to-map {
  padding-left: 28px;
  top: 3px;
  right: 3px;
  margin: 0;
  z-index: 2000;
}
#back-to-map:after {
  left: 3px;
}
#filter-tab {
  padding: 0 5px;
}
#filter-tab label img {
  width: 22px;
  height: 22px;
  margin: 3px 5px -5px -3px;
}
#lang {
  position: fixed;
  bottom: 80px;
  left: 3px;
  z-index: 2000;
}
div.pager-btns {
	text-align: center;
}
div.pager-btns button {
	margin-top: -10px;
}
div.pager-btns button:after {
  background-color: var(--theme-ctl-bg-color);
}
div.pager-btns button:hover:after {
  background-color: var(--theme-ctl-bg-color-hover);
}
div.pager-btns .next {
  float: right;
}
div.pager-btns .prev {
  float: left;
}
@media only screen and (max-width : 750px), screen and (max-device-height: 350px) {
  #map-page .ui-content {
    top: 87px;
    z-index: 1000;
    overflow: visible;
  }
  #map, #panel, #dir-panel {
    width: 100%;
  }
  #tabs .ui-navbar li {
    width: 33.33%;
  }
  li#map-tab-btn {
    display: block;
  }
  .finder-no-filter #tabs .ui-navbar li#map-tab-btn,
  .finder-no-filter #tabs .ui-navbar li#facility-tab-btn {
    display: block;
    width: 50%;
  }
  .finder-no-filter #tabs div.ui-tabs-panel {
    height: calc(100% - 45px);
  }
  #map {
    top: 87px;
  }
}
@media only screen and (max-width : 320px) {
	.popup .phone.ui-btn, .popup .web.ui-btn {
    background-image: none;
    padding: 8px;
    width: calc(50% - 24px);
	}
}
