#lang-btn {
	display: block;
}
#lang-choice-button {
	padding: 0;
	cursor: pointer;
	background-image: url(../img/translate.png);
	background-repeat: no-repeat;
	background-position: 9px center;
	background-size: 28px 28px;
}
#lang-choice-button:hover {
	background-image: url(../img/translate-active-order.png);
}
.lang-placeholder {
	display: none;
}
#splash #lang-choice-button span {
	display: none;
	color: #fff;
	font-size: 20px;
	line-height: 34px;
}
#splash #lang-choice-button:hover span {
	color: #000;
}
#lang-choice-button:hover span {
	color: #fff;
}
#lang-choice-button:after {
	background-color: #fff;
	width: 25px;
	height: 25px;
	border-radius: 13px;
	background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20style%3D%22fill%3A%23fff%3B%22%20points%3D%2211.949%2C3.404%207%2C8.354%202.05%2C3.404%20-0.071%2C5.525%207%2C12.596%2014.07%2C5.525%20%22%2F%3E%3C%2Fsvg%3E");
	position: absolute;
	top: 16px;
	right: 7px;
}
#lang-btn .goog-te-gadget-icon, #lang-trans, .skiptranslate, .goog-te-banner-frame {
	display: none;
	height: 0;
	position: absolute;
	left: -1000px;
	top: -1000px;
}
body .goog-text-highlight {
	background-color: inherit;
	-webkit-box-shadow: inherit;
	-moz-box-shadow: inherit;
	box-shadow: inherit;
	box-sizing: inherit;
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	position: inherit;
}