#lang-btn {
	display: block;
}
#lang-choice-button {
	padding: 0;
	cursor: pointer;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3Asvg%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22256px%22%20height%3D%22256px%22%3E%3Cpath%20style%3D%22fill%3A%23000%22%20d%3D%22m%2028.1%2C12.8%20c%20-8.64%2C0%20-15.3%2C6.66%20-15.3%2C15.3%20l%200%2C104.7%20c%200%2C7.68%206.66%2C14.4%2015.3%2C14.4%20l%2023.1%2C0%20-19.2%2C19.2%209.6%2C0%200%2C28.8%2028.8%2C28.8%2028.8%2C0%200%2C9.6%209.6%2C-9.6%200%2C3%20c%200%2C8.64%207.56%2C16.2%2016.2%2C16.2%20l%20102%2C0%20c%208.64%2C0%2016.2%2C-7.56%2016.2%2C-16.2%20l%200%2C-102%20c%200%2C-8.64%20-7.56%2C-16.2%20-16.2%2C-16.2%20l%20-78.9%2C0%200%2C-80.7%20c%20-0.96%2C-8.64%20-7.56%2C-15.3%20-16.2%2C-15.3%20l%20-103.8%2C0%20z%20m%202.1%2C17.4%2099.6%2C0%200%2C78.6%20-4.8%2C0%20c%20-8.64%2C0%20-16.2%2C7.56%20-16.2%2C16.2%20l%200%2C6%20-78.6%2C0%200%2C-100.8%20z%20m%2040.2%2C11.4%200%2C9.6%20-28.8%2C0%200%2C9.6%2059.1%2C0%20C%2094.707191%2C71.877461%2087.315449%2C80.799287%2079.7%2C88.1%2076.011559%2C84.868487%2072.790584%2C81.779101%2070.4%2C79.1%2063.932078%2C71.851466%2062%2C67.7%2062%2C67.7%20l%20-12%2C5.4%20c%200%2C0%202.747922%2C6.648534%2010.2%2C15%202.471241%2C2.769494%205.69058%2C5.822522%209.3%2C9%20-15.412245%2C11.84203%20-29.1%2C16.8%20-29.1%2C16.8%20l%204.5%2C12.9%20c%200%2C0%2016.933957%2C-5.9946%2035.4%2C-21%205.376718%2C3.87857%2011.429626%2C7.73742%2018.6%2C11.7%20l%206.3%2C-11.7%20c%20-5.650438%2C-3.12261%20-10.377325%2C-6.25778%20-14.7%2C-9.3%208.557086%2C-8.493857%2016.83825%2C-18.961785%2023.4%2C-31.8%20l%20-7.8%2C-3.9%2012.3%2C0%200%2C-9.6%20-28.8%2C0%200%2C-9.6%20-19.2%2C0%20z%20m%2096.9%2C89.4%2020.1%2C0%2032.7%2C89.1%20-21%2C0%20-6.9%2C-19.2%20-31.5%2C0%20-6.9%2C19.2%20-20.1%2C0%2033.6%2C-89.1%20z%20m%20-106.5%2C16.2%2048%2C0%200%2C48%20-9.6%2C-9.6%200%2C9.6%20-28.8%2C0%200%2C-28.8%209.6%2C0%20-19.2%2C-19.2%20z%20m%20115.2%2C8.7%20-11.4%2C31.5%2021.9%2C0%20-10.5%2C-31.5%20z%22%2F%3E%3C%2Fsvg%3E");
	background-repeat: no-repeat;
	background-position: 3px center;
	background-size: 24px;
}
#lang-choice-button.mnu {
	height: 32px;
}
#lang-choice-button.ctl-btn {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3Asvg%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22256px%22%20height%3D%22256px%22%3E%3Cpath%20style%3D%22fill%3A%23fff%22%20d%3D%22m%2028.1%2C12.8%20c%20-8.64%2C0%20-15.3%2C6.66%20-15.3%2C15.3%20l%200%2C104.7%20c%200%2C7.68%206.66%2C14.4%2015.3%2C14.4%20l%2023.1%2C0%20-19.2%2C19.2%209.6%2C0%200%2C28.8%2028.8%2C28.8%2028.8%2C0%200%2C9.6%209.6%2C-9.6%200%2C3%20c%200%2C8.64%207.56%2C16.2%2016.2%2C16.2%20l%20102%2C0%20c%208.64%2C0%2016.2%2C-7.56%2016.2%2C-16.2%20l%200%2C-102%20c%200%2C-8.64%20-7.56%2C-16.2%20-16.2%2C-16.2%20l%20-78.9%2C0%200%2C-80.7%20c%20-0.96%2C-8.64%20-7.56%2C-15.3%20-16.2%2C-15.3%20l%20-103.8%2C0%20z%20m%202.1%2C17.4%2099.6%2C0%200%2C78.6%20-4.8%2C0%20c%20-8.64%2C0%20-16.2%2C7.56%20-16.2%2C16.2%20l%200%2C6%20-78.6%2C0%200%2C-100.8%20z%20m%2040.2%2C11.4%200%2C9.6%20-28.8%2C0%200%2C9.6%2059.1%2C0%20C%2094.707191%2C71.877461%2087.315449%2C80.799287%2079.7%2C88.1%2076.011559%2C84.868487%2072.790584%2C81.779101%2070.4%2C79.1%2063.932078%2C71.851466%2062%2C67.7%2062%2C67.7%20l%20-12%2C5.4%20c%200%2C0%202.747922%2C6.648534%2010.2%2C15%202.471241%2C2.769494%205.69058%2C5.822522%209.3%2C9%20-15.412245%2C11.84203%20-29.1%2C16.8%20-29.1%2C16.8%20l%204.5%2C12.9%20c%200%2C0%2016.933957%2C-5.9946%2035.4%2C-21%205.376718%2C3.87857%2011.429626%2C7.73742%2018.6%2C11.7%20l%206.3%2C-11.7%20c%20-5.650438%2C-3.12261%20-10.377325%2C-6.25778%20-14.7%2C-9.3%208.557086%2C-8.493857%2016.83825%2C-18.961785%2023.4%2C-31.8%20l%20-7.8%2C-3.9%2012.3%2C0%200%2C-9.6%20-28.8%2C0%200%2C-9.6%20-19.2%2C0%20z%20m%2096.9%2C89.4%2020.1%2C0%2032.7%2C89.1%20-21%2C0%20-6.9%2C-19.2%20-31.5%2C0%20-6.9%2C19.2%20-20.1%2C0%2033.6%2C-89.1%20z%20m%20-106.5%2C16.2%2048%2C0%200%2C48%20-9.6%2C-9.6%200%2C9.6%20-28.8%2C0%200%2C-28.8%209.6%2C0%20-19.2%2C-19.2%20z%20m%20115.2%2C8.7%20-11.4%2C31.5%2021.9%2C0%20-10.5%2C-31.5%20z%22%2F%3E%3C%2Fsvg%3E");
	background-position: center;
}
#lang-choice-button.ctl-btn:after {
	display: none;
}
.lang-placeholder {
	display: none;
}
#lang-choice-button span {
	display: none;
	font-size: 20px;
	line-height: 30px;
}
#lang-choice-button.mnu span {
	background-image: none;
}
#lang-choice-button:after {
	background-color: rgba(0,0,0,0.5);
	width: 19px;
	height: 19px;
	border-radius: 10px;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%3E%3Cpolygon%20style%3D%22fill%3A%23fff%3B%22%20points%3D%2211.949%2C3.404%207%2C8.354%202.05%2C3.404%20-0.071%2C5.525%207%2C12.596%2014.07%2C5.525%20%22%2F%3E%3C%2Fsvg%3E");
	position: absolute;
	top: 18px;
	right: 3px;
}
#lang-choice-button:hover:after {
	background-color: #000;
}
#lang-btn .goog-te-gadget-icon, #lang-trans, .skiptranslate, .goog-te-banner-frame {
	display: none;
	height: 0;
	position: absolute;
	left: -1000px;
	top: -1000px;
}
body .goog-text-highlight {
	background-color: inherit;
	-webkit-box-shadow: inherit;
	-moz-box-shadow: inherit;
	box-shadow: inherit;
	box-sizing: inherit;
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	position: inherit;
}
