#lang-btn {
	display: block;
}
#lang-choice-button {
	padding: 0;
	cursor: pointer;
	background-image: var(--theme-lang-choice-bg-img-dark);
	background-repeat: no-repeat;
	background-position: 3px center;
	background-size: 24px;
	padding: 18px;
}
#lang-choice-button.mnu {
	height: 32px;
}
#lang-choice-button.ctl-btn {
	background-image: var(--theme-lang-choice-bg-img);
	background-position: center;
}
#lang-choice-button.ctl-btn:after {
	display: none;
}
.lang-placeholder {
	display: none;
}
#lang-choice-button span {
	display: none;
	font-size: 20px;
	line-height: 30px;
}
#lang-choice-button.mnu span {
	background-image: none;
}
#lang-choice-button:after {
	background-color: rgba(0,0,0,0.5);
	width: 19px;
	height: 19px;
	border-radius: 10px;
	background-image: var(--theme-lang-mnu-bg-img);
	position: absolute;
	top: 18px;
	right: 3px;
}
#lang-choice-button:hover:after {
	background-color: #000;
}
#lang-btn .goog-te-gadget-icon, #lang-trans, .skiptranslate, .goog-te-banner-frame {
	display: none;
	height: 0;
	position: absolute;
	left: -1000px;
	top: -1000px;
}
body .goog-text-highlight {
	background-color: inherit;
	-webkit-box-shadow: inherit;
	-moz-box-shadow: inherit;
	box-shadow: inherit;
	box-sizing: inherit;
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	position: inherit;
}
