#lang-btn {
	display: block;
}
#lang-choice-button {
	padding: 0;
	cursor: pointer;
	background-image: var(--theme-lang-choice-bg-img-dark);
	background-repeat: no-repeat;
	background-position: 3px center;
	background-size: 24px;
	padding: 17px 18px 18px 17px;
}
#lang-choice-button.mnu {
	height: 32px;
	padding: 2px 0 3px 0;
	max-width: 100%;
}
#lang-choice-button.ctl-btn {
	background-image: var(--theme-lang-choice-bg-img);
	background-position: center;
}
#lang-choice-button.ctl-btn:after {
	display: none;
}
.lang-placeholder {
	display: none;
}
#lang-choice-button span {
	display: none;
	font-size: 20px;
	line-height: 30px;
}
#lang-choice-button.mnu span {
	background-image: none;
}
#lang-choice-button:after {
    background-color: rgba(0,0,0,0.5);
    width: 22px;
    height: 22px;
    border-radius: 11px;
    background-image: var(--theme-lang-mnu-bg-img);
    position: absolute;
    top: 19px;
    right: 3px;
}
#lang-choice-button:hover:after {
	background-color: #000;
}
#lang-btn .goog-te-gadget-icon, #lang-trans, .skiptranslate, .goog-te-banner-frame {
	display: none;
	height: 0;
	position: absolute;
	left: -1000px;
	top: -1000px;
}
body .goog-text-highlight {
	background-color: inherit;
	-webkit-box-shadow: inherit;
	-moz-box-shadow: inherit;
	box-shadow: inherit;
	box-sizing: inherit;
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	position: inherit;
}
#lang-hint-arrow {
	background-image: var(--theme-lang-hint-arrow-img);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 144px 64px;
	width: 144px;
	height: 36px;
	padding: 19px 0 11px 10px;
	text-align: center;
	left: 35px;
	position: absolute;
	top: -6px;
}
#lang-hint-arrow span {
	font-size: 18px;
	font-weight: bold;
	line-height: 27px;
	margin-left: -15px;
}
#lang-hint-arrow a {
    position: absolute;
    top: -3px;
    right: 8px;
    border: none;
    background-color: #fff;
    border-radius: 23px;
    width: 26px;
    height: 26px;
    padding: 0;
}
#lang-hint-arrow a:after {
    background-color: var(--theme-ctl-bg-color);
}
#lang-hint-arrow a:hover:after {
    background-color: var(--theme-ctl-bg-color-hover);
}