.btn-fade {
    top: 3px;
    right: 3px;
    background-size: 25px;
    background-image: var(--theme-fade-bg-img);
    background-position: center;
    background-repeat: no-repeat;
}
.mnu-fade {
    overflow-x: hidden;
}
div.mnu-fade *, div.fade-status div {
    color: var(--theme-ctl-text-color);
    font-weight: bold;
}
.mnu-fade, .mnu-fade a, .fade-status {
    text-shadow: none;
}
.mnu-fade table {
	width: calc(100% - 6px);
	height: calc(100% - 60px);
	border-collapse: collapse;
	margin: 0 3px;
}
.mnu-fade thead td {
	padding: 3px 0 0 3px;
}
.mnu-fade td {
	width: 50%;
}
ul.fade-choices, ol.fade-choices {
	min-height: 404px;
}
ul.fade-choices {
	margin-right: 1px;
}
ol.fade-choices span {
	margin-right: 3px;
}
li.fade-lyr, .fade-choices {
    border: var(--theme-ctl-border);
    border-radius: var(--theme-border-radius);
    padding: 3px;
}
li.fade-lyr:hover {
	background-color: var(--theme-ctl-bg-color-hover);
}
.fade-choices {
	overflow-y: auto;
	height: 100%;
	margin: 3px 0;
}
ul.fade-choices, li.fade-msg {
    list-style-type: none;
}
li.fade-msg {
	font-weight: normal;
}
ol.fade-choices {
	list-style: decimal inside none;
}
.fade-choices li span {
    width: 16px;
    height: 20px;
    background-size: 15px;
    background-position: center;
    background-repeat: no-repeat;
    
}
ul.fade-choices li span {
    float: right;
    background-image: var(--theme-fade-choose-bg-img);
}
ol.fade-choices li span {
    float: left;
    background-image: var(--theme-fade-chosen-bg-img);
}
.fade-choices li {
    margin: 0 0 3px;
    cursor: pointer;
    padding: 8px 3px;
}
.fade-status, .fade-progress, .fade-slider {
	display: none;
	position: fixed;
	left: 0;
	bottom: 0;
    background-color: var(--theme-ctl-bg-lighter);
}
.fade-status, .fade-slider {
	right: 0;
}
div.fade-slider {
	margin: 0 20px 7px 2px;
	height: 16px;
	background-color: transparent;
	border: none;
}
.fade-slider.ui-widget-content span {
	position: absolute;
	background-color: var(--theme-tip-bg-color);
	border: var(--theme-ctl-border);
	padding: 10px;
	cursor: pointer;
}
.fade-slider.ui-widget-content span.ui-state-default:hover, 
.fade-slider.ui-widget-content span.ui-state-active {
	outline-color: transparent;
	background-color: var(--theme-ctl-bg-color-hover);
}
.fade-progress {
	height: 24px;
	width: 1px;
}
.fade-status {
	height: 24px;
	border-top: var(--theme-ctl-border);
}
.fade-status div {
	margin-top: 2px;
    display: inline-block;
    text-align: center;
}
/* Fixes .ui-checkboxradio styles broken when JQueryUI steps on JQueryMobile */
.ctl-mnu-tgl div.ui-radio label.ui-checkboxradio-checked.ui-checkboxradio-checked:after, div.ui-radio label.ui-checkboxradio-checked.ui-checkboxradio-checked:after {
	background-color: var(--theme-ctl-text-color);
	border: 5px solid var(--theme-text-color);
	opacity: 1;
	width: 8px;
	height: 8px;
}
/* Fixes .ui-checkboxradio styles broken when JQueryUI steps on JQueryMobile */
.ctl-mnu-tgl div.ui-checkbox label.ui-checkboxradio-checked.ui-checkboxradio-checked:after, div.ui-checkbox label.ui-checkboxradio-checked.ui-checkboxradio-checked:after {
	background-color: var(--theme-text-color);
	background-image: var(--theme-ctl-check-bg-img);
	opacity: 1;
}