.btn-swipe {
    top: 3px;
    right: 3px;
    background-size: 26px;
    background-image: var(--theme-swipe-bg-img);
    background-position: center;
    background-repeat: no-repeat;
}
table.swipe-label {
	position: fixed;
	background-color: var(--theme-tip-bg-color);
	border-radius: 3px;
	border-collapse: collapse;
}
table.swipe-label td {
	display: inline-block;
	text-align: center;
	verticle-align: middle;
	text-shadow: none;
	font-weight: bold;
	padding: 3px;
	width: 100px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
span.current-value {
	display: none;
}