#btn-fade {
    top: 0;
    right: 3px;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3Asvg%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22512%22%20height%3D%22512%22%3E%3Cg%20transform%3D%22rotate(-90%20256%20256)%22%3E%3Cpath%20style%3D%22fill%3A%23fff%3Bfill-opacity%3A0.41176471%22%20transform%3D%22translate(-1.172e-5%2C170.62641)%22%20d%3D%22M%20496.246%2C153.401%20281.132%2C45.842%20c%20-15.738%2C-7.86%20-34.526%2C-7.86%20-50.265%2C0.002%20L%2015.751%2C153.403%20c%20-9.712%2C4.861%20-15.747%2C14.627%20-15.747%2C25.486%200%2C10.861%206.035%2C20.626%2015.751%2C25.489%20l%20215.116%2C107.558%20c%207.868%2C3.93%2016.497%2C5.894%2025.128%2C5.894%208.631%2C0%2017.265%2C-1.965%2025.134%2C-5.897%20L%20496.246%2C204.377%20c%200.001%2C-0.001%200.002%2C-0.001%200.004%2C-0.002%209.712%2C-4.861%2015.747%2C-14.627%2015.747%2C-25.487%200%2C-10.86%20-6.035%2C-20.624%20-15.751%2C-25.487%20z%20m%20-10.623%2C29.726%20-215.108%2C107.554%20c%20-9.088%2C4.539%20-19.939%2C4.539%20-29.025%2C0.002%20L%2026.384%2C183.13%20c%20-2.281%2C-1.142%20-2.622%2C-3.147%20-2.622%2C-4.241%200%2C-1.093%200.341%2C-3.098%202.618%2C-4.237%20L%20241.49%2C67.097%20c%204.544%2C-2.27%209.528%2C-3.405%2014.514%2C-3.405%204.983%2C0%209.967%2C1.135%2014.508%2C3.403%20L%20485.62%2C174.649%20c%202.281%2C1.142%202.622%2C3.147%202.622%2C4.24%200%2C1.094%20-0.341%2C3.097%20-2.619%2C4.238%20z%22%2F%3E%3Cpath%20style%3D%22fill%3A%23fff%3Bfill-opacity%3A0.19607843%22%20d%3D%22M%20248.47838%2C463.55704%20C%20247.265%2C463.37629%20196.42743%2C438.31253%20135.50601%2C407.85978%2057.010815%2C368.62245%2024.631253%2C352.07613%2024.367267%2C351.06665%20c%20-0.204884%2C-0.78348%20-0.09271%2C-2.18089%200.249279%2C-3.10537%200.880215%2C-2.37945%20218.617954%2C-111.28278%20225.324604%2C-112.69796%203.43488%2C-0.72481%205.9957%2C-0.76582%2010.30992%2C-0.16513%205.45142%2C0.75903%2011.29834%2C3.58222%20116.32907%2C56.16948%20105.08421%2C52.61404%20110.60142%2C55.47734%20110.83578%2C57.52119%200.13565%2C1.183%20-0.19439%2C2.68232%20-0.73342%2C3.3318%20-1.41142%2C1.70066%20-216.90928%2C109.31134%20-221.82975%2C110.77255%20-3.82423%2C1.13568%20-11.1994%2C1.43468%20-16.37437%2C0.66383%20z%22%2F%3E%3Cpath%20style%3D%22fill%3A%23fff%3Bfill-opacity%3A0.70588237%22%20transform%3D%22translate(-1e-5%2C71.11187)%22%20d%3D%22M%20496.246%2C153.401%20281.132%2C45.842%20c%20-15.738%2C-7.86%20-34.526%2C-7.86%20-50.265%2C0.002%20L%2015.751%2C153.403%20c%20-9.712%2C4.861%20-15.747%2C14.627%20-15.747%2C25.486%200%2C10.861%206.035%2C20.626%2015.751%2C25.489%20l%20215.116%2C107.558%20c%207.868%2C3.93%2016.497%2C5.894%2025.128%2C5.894%208.631%2C0%2017.265%2C-1.965%2025.134%2C-5.897%20L%20496.246%2C204.377%20c%200.001%2C-0.001%200.002%2C-0.001%200.004%2C-0.002%209.712%2C-4.861%2015.747%2C-14.627%2015.747%2C-25.487%200%2C-10.86%20-6.035%2C-20.624%20-15.751%2C-25.487%20z%20m%20-10.623%2C29.726%20-215.108%2C107.554%20c%20-9.088%2C4.539%20-19.939%2C4.539%20-29.025%2C0.002%20L%2026.384%2C183.13%20c%20-2.281%2C-1.142%20-2.622%2C-3.147%20-2.622%2C-4.241%200%2C-1.093%200.341%2C-3.098%202.618%2C-4.237%20L%20241.49%2C67.097%20c%204.544%2C-2.27%209.528%2C-3.405%2014.514%2C-3.405%204.983%2C0%209.967%2C1.135%2014.508%2C3.403%20L%20485.62%2C174.649%20c%202.281%2C1.142%202.622%2C3.147%202.622%2C4.24%200%2C1.094%20-0.341%2C3.097%20-2.619%2C4.238%20z%22%2F%3E%3Cpath%20style%3D%22fill%3A%23fff%3Bfill-opacity%3A0.49019608%22%20d%3D%22M%20248.01509%2C363.74433%20C%20245.8354%2C363.157%20194.6927%2C337.9527%20134.36465%2C307.7348%2030.14906%2C255.53394%2024.66497%2C252.68586%2024.43064%2C250.64224%20c%20-0.13565%2C-1.18301%200.19439%2C-2.68231%200.73341%2C-3.33179%201.33735%2C-1.61141%20215.20564%2C-108.48673%20220.99689%2C-110.43766%205.37118%2C-1.80942%2012.48527%2C-2.00971%2018.06238%2C-0.50851%202.10464%2C0.56651%2053.13374%2C25.68977%20113.39801%2C55.82947%2080.21513%2C40.11763%20109.70165%2C55.20984%20110.05755%2C56.3312%200.26739%2C0.84247%200.10632%2C2.24151%20-0.35794%2C3.10898%20-1.16963%2C2.18546%20-219.27039%2C111.22116%20-224.85727%2C112.41349%20-5.23219%2C1.11663%20-9.51307%2C1.02683%20-14.44858%2C-0.30309%20z%22%2F%3E%3Cpath%20style%3D%22fill%3A%23fff%22%20%20transform%3D%22translate(-1.17e-5%2C-28.402687)%22%20d%3D%22M%20496.246%2C153.401%20281.132%2C45.842%20c%20-15.738%2C-7.86%20-34.526%2C-7.86%20-50.265%2C0.002%20L%2015.751%2C153.403%20c%20-9.712%2C4.861%20-15.747%2C14.627%20-15.747%2C25.486%200%2C10.861%206.035%2C20.626%2015.751%2C25.489%20l%20215.116%2C107.558%20c%207.868%2C3.93%2016.497%2C5.894%2025.128%2C5.894%208.631%2C0%2017.265%2C-1.965%2025.134%2C-5.897%20L%20496.246%2C204.377%20c%200.001%2C-0.001%200.002%2C-0.001%200.004%2C-0.002%209.712%2C-4.861%2015.747%2C-14.627%2015.747%2C-25.487%200%2C-10.86%20-6.035%2C-20.624%20-15.751%2C-25.487%20z%20m%20-10.623%2C29.726%20-215.108%2C107.554%20c%20-9.088%2C4.539%20-19.939%2C4.539%20-29.025%2C0.002%20L%2026.384%2C183.13%20c%20-2.281%2C-1.142%20-2.622%2C-3.147%20-2.622%2C-4.241%200%2C-1.093%200.341%2C-3.098%202.618%2C-4.237%20L%20241.49%2C67.097%20c%204.544%2C-2.27%209.528%2C-3.405%2014.514%2C-3.405%204.983%2C0%209.967%2C1.135%2014.508%2C3.403%20L%20485.62%2C174.649%20c%202.281%2C1.142%202.622%2C3.147%202.622%2C4.24%200%2C1.094%20-0.341%2C3.097%20-2.619%2C4.238%20z%22%2F%3E%3Cpath%20style%3D%22fill%3A%23fff%3Bfill-opacity%3A0.78431374%22%20d%3D%22M%20246.47526%2C263.88721%20C%20245.00201%2C263.3182%20194.50814%2C238.20552%20134.26666%2C208.08126%2056.950372%2C169.41861%2024.627586%2C152.89267%2024.365721%2C151.89129%20c%20-0.204033%2C-0.78022%20-0.0917%2C-2.17353%200.249632%2C-3.09624%20C%2025.090555%2C147.51046%2050.659858%2C134.40522%20133.75097%2C92.858924%20193.43423%2C63.016758%20243.98796%2C38.003093%20246.0926%2C37.273%20c%202.39835%2C-0.83198%206.1136%2C-1.326412%209.95394%2C-1.324685%205.06452%2C0.0023%207.18849%2C0.42102%2012.24516%2C2.41414%203.36481%2C1.32626%2053.98878%2C26.417681%20112.49772%2C55.758712%20l%20106.37987%2C53.347333%200.23636%2C2.85037%200.23636%2C2.85038%20-111.37164%2C55.67645%20-111.37165%2C55.67646%20-7.87242%2C0.19981%20c%20-5.22774%2C0.1327%20-8.77228%2C-0.14773%20-10.55104%2C-0.83476%20z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");    
	background-size: 24px 24px;
    background-position: center;
    background-repeat: no-repeat;
}
div#mnu-fade {
	display: none;
	position: fixed;
	top: 48px;
	right: 3px;
    background-color: rgba(0,0,0,0.5);
    border: 1px solid rgb(221, 221, 221);
    border-radius: .6em;
}
div#mnu-fade, div#fade-status {
    color: #fff;
    font-weight: bold;
}
div#mnu-fade, div#mnu-fade a, div#fade-status {
    text-shadow: none;
}
li.fade-lyr, .fade-choices {
    border: 1px solid rgb(221, 221, 221);
    border-radius: .6em;
    padding: 3px;
}
li.fade-lyr:hover {
	background-color: #000;
}
.fade-choices {
	overflow-y: auto;
	height: 300px;
	margin: 2px 0;
}
ul.fade-choices {
    list-style-type: none;
}
ol.fade-choices {
	list-style: decimal inside none;
}
.fade-choices li {
    margin: 0 0 3px;
    cursor: pointer;
    padding: 8px 3px
}
div.fade-list {
    display: inline-block;
    width: 149px;
    margin: 5px;
}
div.fade-list:first-of-type {
    margin-right: 0;
}
div#fade-status, div#fade-progress, div#fade-slider {
	display: none;
	position: fixed;
	left: 0;
}
div#fade-status, div#fade-progress, div#fade-slider {
	bottom: 0;
    background-color: rgba(0,0,0,0.3);
}
div#fade-status, div#fade-slider {
	right: 0;
}
div#fade-slider {
	margin: 0 12px;
	height: 18px;
	background-color: transparent;
	border: none;
}
div#fade-slider.ui-widget-content span.ui-state-default:hover, 
div#fade-slider.ui-widget-content span.ui-state-active {
	background-color: #000;
	border: 1px solid #c5c5c5;
}
div#fade-progress {
	height: 24px;
	width: 1px;
}
div#fade-status {
	height: 25px;
	border-top: 1px solid rgb(221, 221, 221);
}
div#fade-status div {
	margin-top: 3px;
    display: inline-block;
    text-align: center;
}
/* fixes .ui-checkboxradio styles broken when JQueryUI steps on JQueryMobile */
.ctl-mnu-tgl div.ui-radio label.ui-checkboxradio-checked.ui-checkboxradio-checked:after, div.ui-radio label.ui-checkboxradio-checked.ui-checkboxradio-checked:after {
	content: '\25CF';
	text-align: center;
	font-size: 20px;
	line-height: 12px;
	padding: 2px;
	margin-left: -1px;
	background-color: #000;
	opacity: 1;
	width: 14px;
	height: 14px;
	border: 1px solid #fff;
}
/* fixes .ui-checkboxradio styles broken when JQueryUI steps on JQueryMobile */
.ctl-mnu-tgl div.ui-checkbox label.ui-checkboxradio-checked.ui-checkboxradio-checked:after, div.ui-checkbox label.ui-checkboxradio-checked.ui-checkboxradio-checked:after {
	background-color: #000;
	opacity: 1;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2214px%22%20height%3D%2214px%22%3E%3Cpolygon%20style%3D%22fill%3A%23fff%22%20points%3D%2214%2C4%2011%2C1%205.003%2C6.997%203%2C5%200%2C8%204.966%2C13%204.983%2C12.982%205%2C13%20%22%2F%3E%3C%2Fsvg%3E");
}