table.legend {
	width: 100%;
}
table.legend td.leg-bin {
	width: 1%;
}
table.legend caption {
	text-align: left;
}
table.legend td.leg-bin {
	text-align: center;
}
table.legend td.leg-bin-desc {
	padding-left: 5px;
}