div.ctl-mnu-tgl {
	display: none;
	position: fixed;
	top: 43px;
	bottom: 3px;
	right: 3px;
	width: 320px;
	height: auto;
	max-height: 505px;
    border: var(--theme-ctl-border);
    border-radius: var(--theme-border-radius);
    background-color: var(--theme-ctl-bg-color);
    text-shadow: none;
	color: var(--theme-ctl-text-color);
	font-weight: bold;
	overflow-y: auto;
	z-index: 1000;
}
div.ctl-mnu-tgl div.ui-collapsible {
	margin: 3px;
}
div.ctl-mnu-tgl a.ui-link.ui-btn {
	display: inline-block;
	width: 78px;
	float: right;
	margin: 5px 3px 3px 0;
	padding: 8px;
}
div.ctl-mnu-tgl div.ui-collapsible-content.ui-body-inherit, 
div.ctl-mnu-tgl div.ui-checkbox label,
div.ctl-mnu-tgl div.ui-radio label,
div.ctl-mnu-tgl div.ui-checkbox label:hover,
div.ctl-mnu-tgl div.ui-radio label:hover {
	background-color: transparent;
	color:  var(--theme-ctl-text-color);
}
div.ctl-mnu-tgl div.ui-checkbox input, div.ctl-mnu-tgl div.ui-radio input {
	visibility: collapse;
} 
div.ctl-mnu-tgl div.ui-checkbox label:hover, 
div.ctl-mnu-tgl div.ui-radio label:hover {
	background-color: var(--theme-ctl-bg-color-hover);
}
div.ctl-mnu-tgl div.ui-checkbox label.ui-btn:after, div.ctl-mnu-tgl div.ui-radio label.ui-btn:after {
	background-color:  var(--theme-ctl-text-color);
}
div.ctl-mnu-tgl div.ui-checkbox label.ui-btn.ui-checkbox-on:after {
	background-color: var(--theme-ctl-bg-color-hover);
	background-image: var(--theme-ctl-check-bg-img);
	opacity: 1;
}
div.ctl-mnu-tgl div.ui-radio label.ui-btn.ui-btn-icon-left.ui-radio-on:after {
	border-color: var(--theme-ctl-bg-color-hover);
}
div.ctl-mnu-tgl div.ui-collapsible {
	height: calc(100% - 60px);
}
div.ctl-mnu-tgl .ui-collapsible-content {
	max-height: calc(100% - 53px);
	overflow-y: auto;
}