
div.ctl-mnu-tgl {
	display: none;
	position: fixed;
	top: 43px;
	bottom: 3px;
	right: 3px;
	width: 320px;
	height: auto;
	max-height: 610px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 3px;
    background-color: rgba(0,0,0,0.5);
    text-shadow: none;
	color: #fff;
	font-weight: bold;
	overflow-y: auto;
	z-index: 1000;
}
div.ctl-mnu-tgl div.ui-collapsible {
	margin: 3px;
}
div.ctl-mnu-tgl a.ui-link.ui-btn {
	display: inline-block;
	width: 78px;
	float: right;
	margin: 5px 3px 3px 0;
	padding: 8px;
}
div.ctl-mnu-tgl div.ui-collapsible-content.ui-body-inherit, 
div.ctl-mnu-tgl div.ui-checkbox label,
div.ctl-mnu-tgl div.ui-radio label,
div.ctl-mnu-tgl div.ui-checkbox label:hover,
div.ctl-mnu-tgl div.ui-radio label:hover {
	background-color: transparent;
	color: #fff;
}
div.ctl-mnu-tgl div.ui-checkbox input, div.ctl-mnu-tgl div.ui-radio input {
	visibility: collapse;
} 
div.ctl-mnu-tgl div.ui-checkbox label:hover, 
div.ctl-mnu-tgl div.ui-radio label:hover {
	background-color: #000;
}
div.ctl-mnu-tgl div.ui-checkbox label.ui-btn:after, div.ctl-mnu-tgl div.ui-radio label.ui-btn:after {
	background-color: #fff;
}
div.ctl-mnu-tgl div.ui-checkbox label.ui-btn.ui-checkbox-on:after {
	background-color: #000;
	opacity: 1;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2214px%22%20height%3D%2214px%22%3E%3Cpolygon%20style%3D%22fill%3A%23fff%22%20points%3D%2214%2C4%2011%2C1%205.003%2C6.997%203%2C5%200%2C8%204.966%2C13%204.983%2C12.982%205%2C13%20%22%2F%3E%3C%2Fsvg%3E");
}
div.ctl-mnu-tgl div.ui-radio label.ui-btn.ui-btn-icon-left.ui-radio-on:after {
	border-color: #000;
}
div.ctl-mnu-tgl div.ui-collapsible {
	height: calc(100% - 60px);
}
div.ctl-mnu-tgl .ui-collapsible-content {
	max-height: calc(100% - 53px);
	overflow-y: auto;
}