@import url("theme.css");

html, body, body *, body.ui-mobile-viewport, body.ui-mobile-viewport * {
	font-size: 16px;
	text-shadow: none !important;
	font-family: var(--theme-font-family);
	color: var(--theme-text-color);
}
.ui-btn {
	font-size: 16px !important;
}
.ui-corner-all, .ui-btn.ui-corner-all {
	border-radius: var(--theme-border-radius);
}