div.popup {
	max-width: 300px;
	background-color: var(--theme-pop-bg-color);
	border-radius: var(--theme-border-radius);
	border: var(--theme-pop-border);
	border-color: var(--theme-pop-border-color);
	box-shadow: var(--theme-box-shadow);
	display: none;
	position: absolute;
	bottom: 12px;
	left: -50px;
	z-index: 200;
}
.inf-center {
	min-width: 265px;
}
.inf-zone, .inf-location {
	min-width: 200px;
}
.popup:after, .popup:before {
	top: 100%;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
 .popup:before {
 	border: solid transparent;
 }
.popup:after {
	border: solid transparent;
	border-top-color: var(--theme-pop-bg-color);
	border-width: 10px;
	left: 48px;
	margin-left: -10px;
}
.popup:before {
	border-top-color: var(--theme-pop-border-color);
	border-width: 12px;
	left: 48px;
	margin-left: -12px;
	margin-top: 0.4px;
}
.popup-content {
	margin: 5px 25px 10px 10px;
	width: 265px;
}
a.popup-closer, a.popup-closer:visited {
	position: absolute;
	width: 23px;
	height: 23px;
	top: 3px;
	right: 3px;
	font-size: 24px;
	border-radius: 50%;
	background-clip: border-box;
	cursor: pointer;
	background-color: var(--theme-ctl-bg-color);
	background-image: var(--theme-pop-closer-bg-img);
	background-size: 15px;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 2;
}
a.popup-closer:hover {
	background-color: var(--theme-ctl-bg-color-hover);
}
.popup .inf-map {
	display: none;
}
@media only screen and (max-height : 650px) {
	.popup-content {
	    max-height: 290px;
	    overflow-x: hidden;
	    overflow-y: auto;
	}
}
@media only screen and (max-height : 330px) {
	.popup {
		max-height: 310px;
	}
	.popup-content {
		max-height: 280px;
	}
}
