div.prp-rnd {
	width: 265px;
}
.prp-rnd span, .prp-rnd a {
    font-size: 14px;
}
.prp-fld {
    font-weight: bold;
    margin-right: 3px;
}
.prp-more {
	display: none;
}
.prp-credit  a{
	font-weight: normal;
	font-size: 12px;
}