#btn-z-in {
	left: 3px;
	top: 43px;
}
#btn-z-out {
	left: 3px;
	top: 85px;
}
#btn-z-in:after {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2214px%22%20height%3D%2214px%22%3E%3Cpolygon%20fill%3D%22%23FFF%22%20points%3D%2214%2C5%209%2C5%209%2C0%205%2C0%205%2C5%200%2C5%200%2C9%205%2C9%205%2C14%209%2C14%209%2C9%2014%2C9%22%2F%3E%3C%2Fsvg%3E");
}
#btn-z-out:after {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2214px%22%20height%3D%2214px%22%3E%3Crect%20y%3D%225%22%20style%3D%22fill%3A%23fff%3B%22%20width%3D%2214%22%20height%3D%224%22%2F%3E%3C%2Fsvg%3E");
}
#btn-geo {
    left: 3px;
    top: 127px;
    background-size: 24px;
}
#btn-geo, #srch-type-geo span:after {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3Asvg%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214%22%20height%3D%2214%22%3E%3Cg%20style%3D%22stroke%3A%23fff%3Bstroke-width%3A2%3Bfill%3Anone%22%3E%3Ccircle%20cx%3D%227%22%20cy%3D%227%22%20r%3D%225%22%2F%3E%3Cpolyline%20points%3D%220%2C7%204.5%2C7%22%2F%3E%3Cpolyline%20points%3D%229.5%2C7%2014%2C7%22%2F%3E%3Cpolyline%20points%3D%227%2C0%207%2C4.5%22%2F%3E%3Cpolyline%20points%3D%227%2C14%207%2C9.5%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
}
#fld-srch-container {
	position: absolute;
	top: -3px;
	left: 40px;
	right: 3px;
	max-width: 400px;
	padding: 0 5px;
}
#fld-srch-container .ui-input-search {
	opacity: 0.7;
}
#fld-srch-container .ui-input-search.ui-focus {
	opacity: 1;
}
#fld-srch-container .ui-corner-all {
	border-radius: 0.6em;
}
#fld-srch-container input {
	font-size: 17px;
}
#fld-srch-container a.ui-input-clear {
	border: none;
	border-radius: 22px;
	background-color: transparent;
	width: 22px;
	height: 22px;
	margin: -11px 6px 0 0;
}
#fld-srch-container a.searching:after {
	background-image: url(../img/searching.gif);
	background-size: 13px;
}
.ui-listview>.ui-li-static {
	cursor: pointer;
	padding: 8px;
	margin: 0;
}
.ui-listview>.ui-li-static {
	cursor: pointer;
	background-color: #fff;
	color: #000;
	text-shadow: none;
}
.ui-listview>.ui-li-static:hover {
	background-color: rgba(0,0,0,0.5);
	color: #fff;
}
.ui-listview>.ui-li-static:hover .ui-btn-icon-left:after {
	background-color: #000;
}
#fld-srch-container ul {
	right: 3px;
	left: 45px;
	max-width: 400px;
	max-height: 400px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	margin: 0;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 3000;
}
#mnu-srch-typ {
	display: none;
}
#fld-srch-retention {
	position: absolute;
	left: -1000px;
	top: -1000px;
}
#btn-srch-typ {
	position: absolute;
	right: 10px;
	top: 7px;
	background-color: transparent;
	border: none;
	opacity: 0.6;
}
#btn-srch-typ.ctl-active, #btn-srch-typ:hover {
	opacity: 1;
}
#btn-srch-typ:after, #fld-srch-container .ui-input-clear:after, #mnu-srch-typ .ui-btn-icon-left:after {
	background-color: rgba(0,0,0,0.5);
}
#btn-srch-typ:hover:after, #fld-srch-container .ui-input-clear:hover:after {
	background-color: #000;
}
#srch-type-geo span:after {
	background-size: 16px 16px;
}
span.srch-upk-icon:after {
	background-image: url(../img/hand.png);
	background-size: 16px 16px;
}
.srch-types .ui-input-clear {
	display: none;
}
@media only screen and (max-width : 405px) {
	#fld-srch-container {
		width: auto;
		right: 0;
	}
}
.ol-zoom, .ol-attribution {
	display: none;
}
