div.z-srch {
	position: absolute;
	left: 3px;
	top: 3px;	
	right: 0;
	max-width: 450px;
}
.btn-z-in {
	left: 0;
	top: 0;
}
.btn-z-out {
	left: 0;
	top: 40px;
}
.btn-z-in:after {
	background-image: var(--theme-zoom-in-bg-img);
}
.btn-z-out:after {
	background-image: var(--theme-zoom-out-bg-img);
}
.btn-geo {
    left: 0;
    top: 80px;
}
.btn-geo, .srch-type-geo span:after {
	background-image: var(--theme-zoom-geo-bg-img);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
}
.fld-srch-container {
	left: 40px;
	right: 3px;
	max-width: 400px;
	padding: 0;
}
.fld-srch-container .ui-input-search {
	opacity: 0.7;
	margin: 0;
}
.fld-srch-container .ui-input-search.ui-focus {
	opacity: 1;
}
#fld-srch-container input {
	max-height: 35px;
	min-height: 35px;
}
div.fld-srch-container a.ui-input-clear.ui-btn.ui-icon-delete {
	border: none;
	background-color: transparent;
	width: 22px;
	height: 22px;
	margin: -11px 5px 0 0;
	padding: 0;
}
.fld-srch-container a.searching:after {
	background-image: var(--theme-zoom-busy-bg-img);
	background-size: 15px;
}
.ui-listview>.ui-li-static {
	cursor: pointer;
	padding: 8px;
	margin: 0;
}
.fld-srch-container .ui-listview>.ui-li-static {
	background-color: var(--theme-pop-bg-color);
	cursor: pointer;
}
.fld-srch-container .ui-listview>.ui-li-static:hover {
	background-color: var(--theme-ctl-bg-color);
	color: var(--theme-ctl-text-color);
}
.fld-srch-container .ui-listview>.ui-li-static:hover .ui-btn-icon-left:after {
	background-color: var(--theme-ctl-bg-color-hover);
}
.fld-srch-container ul.ui-listview {
	box-shadow: var(--theme-box-shadow);
	max-width: 400px;
	max-height: 400px;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 3000;
	margin: 3px 0 0 1px;
}
.mnu-srch-typ {
	display: none;
}
.fld-srch-retention {
	position: absolute;
	left: -1000px;
	top: -1000px;
}
.btn-srch-typ {
	position: absolute;
	right: 10px;
	top: 7px;
	background-color: transparent;
	border: none;
	opacity: 0.6;
}
.btn-srch-typ.ctl-active, .btn-srch-typ:hover {
	opacity: 1;
}
.btn-srch-typ:after, .fld-srch-container .ui-input-clear:after, .mnu-srch-typ .ui-btn-icon-left:after {
	background-color: var(--theme-ctl-bg-color);
}
.btn-srch-typ:hover:after, .fld-srch-container .ui-input-clear:hover:after {
	background-color: var(--theme-ctl-bg-color-hover);
}
.srch-type-geo span:after {
	background-size: 16px 16px;
}
.srch-types .ui-input-clear {
	display: none;
}
.leaflet-control {
	display: none;
}
@media only screen and (max-width : 405px) {
	.fld-srch-container {
		width: auto;
		right: 0;
	}
}
.ol-zoom, .ol-attribution {
	display: none;
}