#btn-z-in {
	left: 3px;
	top: 43px;
}
#btn-z-out {
	left: 3px;
	top: 85px;
}
#btn-z-in:after {
	background-image: url("data:image/svg+xml;charset=utf-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20fill%3D%22%23fff%22%20points%3D%2214%2C5%209%2C5%209%2C0%205%2C0%205%2C5%200%2C5%200%2C9%205%2C9%205%2C14%209%2C14%209%2C9%2014%2C9%20%22%2F%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
#btn-z-out:after {
	background-image: url("data:image/svg+xml;charset=utf-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Crect%20y%3D%225%22%20style%3D%22fill%3A%23fff%3B%22%20width%3D%2214%22%20height%3D%224%22%2F%3E%3C%2Fsvg%3E");
}
#btn-geo {
    left: 3px;
    top: 127px;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3Asvg%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22320%22%20height%3D%22320%22%3E%3Cg%20transform%3D%22translate(0%2C-732.36216)%22%3E%3Cpath%20style%3D%22fill%3A%23fff%22%20d%3D%22M%20143.79397%2C1049.9444%20C%20143.08229%2C1048.6146%20142.5%2C1042.5538%20142.5%2C1036.476%20l%200%2C-11.0506%20-10.56084%2C-2.1738%20C%20108.19345%2C1018.3638%2083.380138%2C1004.7859%2065.478228%2C986.88396%2047.576318%2C968.98204%2033.998389%2C944.16873%2029.110577%2C920.42302%20l%20-2.173841%2C-10.56084%20-11.504082%2C0%20C%200.00107657%2C909.86218%200%2C909.86092%200%2C891.80095%20c%200%2C-11.4427%200.38149585%2C-14.44927%202.004322%2C-15.7961%201.2298904%2C-1.02072%206.4720921%2C-1.85885%2013.567447%2C-2.16917%20l%2011.563125%2C-0.50573%202.115925%2C-9.84658%20C%2039.953468%2C813.67797%2079.778969%2C773.71424%20130.625%2C761.75734%20l%2011.25%2C-2.64554%200.625%2C-11.81231%20c%200.34375%2C-6.49677%201.08007%2C-12.51544%201.63627%2C-13.37481%201.42622%2C-2.20362%2030.30124%2C-2.20362%2031.72745%2C0%200.5562%2C0.85937%201.29253%2C6.87804%201.63628%2C13.37481%20l%200.625%2C11.81231%2011.25%2C2.64554%20c%2050.40132%2C11.85232%2090.88121%2C52.36304%20101.32407%2C101.40123%20l%202.16603%2C10.17138%2011.56312%2C0.50573%20c%207.09537%2C0.31032%2012.33757%2C1.14845%2013.56745%2C2.16917%201.62283%2C1.34683%202.00433%2C4.3534%202.00433%2C15.7961%200%2C18.05997%20-0.001%2C18.06123%20-15.43265%2C18.06123%20l%20-11.50409%2C0%20-2.17384%2C10.56084%20c%20-10.30186%2C50.04793%20-52.78065%2C92.52668%20-102.82858%2C102.82858%20l%20-10.56084%2C2.1738%200%2C11.0506%20c%200%2C16.2054%200.35169%2C15.8862%20-17.5%2C15.8862%20-13.46378%2C0%20-15.03771%2C-0.2348%20-16.20603%2C-2.4178%20z%20M%20142.5%2C959.90615%20c%200%2C-19.49067%20-0.64874%2C-18.79397%2017.5%2C-18.79397%2018.14874%2C0%2017.5%2C-0.6967%2017.5%2C18.79397%200%2C17.96592%20-0.43443%2C17.25933%208.87429%2C14.43393%2013.85992%2C-4.2068%2029.81519%2C-15.0086%2039.68233%2C-26.8652%206.90941%2C-8.30247%2015.90054%2C-25.54691%2017.167%2C-32.9252%20l%200.8046%2C-4.6875%20-16.34513%2C0%20c%20-19.65028%2C0%20-18.93309%2C0.66291%20-18.93309%2C-17.5%200%2C-18.16291%20-0.71719%2C-17.5%2018.93309%2C-17.5%20l%2016.34513%2C0%20-0.78908%2C-4.6875%20c%20-0.43402%2C-2.57813%20-3.4442%2C-10.03125%20-6.68933%2C-16.5625%20-4.7601%2C-9.58037%20-7.83491%2C-13.8097%20-15.91251%2C-21.8873%20-8.0776%2C-8.0776%20-12.30694%2C-11.15241%20-21.8873%2C-15.91252%20-6.53125%2C-3.24512%20-13.98438%2C-6.25531%20-16.5625%2C-6.68931%20l%20-4.6875%2C-0.7891%200%2C16.34514%20c%200%2C19.65028%200.66291%2C18.93309%20-17.5%2C18.93309%20-18.16291%2C0%20-17.5%2C0.71719%20-17.5%2C-18.93309%20l%200%2C-16.34514%20-4.6875%2C0.8046%20c%20-6.8346%2C1.17314%20-23.58419%2C9.7446%20-31.86476%2C16.30651%20-12.066593%2C9.56214%20-23.580875%2C26.22137%20-27.851473%2C40.29638%20-2.908956%2C9.58733%20-3.63302%2C9.12074%2014.153733%2C9.12074%2010.77778%2C0%2016.48958%2C0.48959%2017.5%2C1.5%200.99425%2C0.99425%201.5%2C6.38889%201.5%2C16%200%2C9.61111%20-0.50575%2C15.00575%20-1.5%2C16%20-1.01042%2C1.01041%20-6.72222%2C1.5%20-17.5%2C1.5%20-17.786753%2C0%20-17.062689%2C-0.46659%20-14.153733%2C9.12074%207.326%2C24.145%2030.592443%2C47.61381%2054.741103%2C55.21723%2010.13878%2C3.19229%209.66263%2C3.89667%209.66263%2C-14.294%20z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
}
#fld-srch-container {
	position: absolute;
	top: -3px;
	left: 40px;
	right: 3px;
	max-width: 400px;
	padding: 0 5px;
}
#fld-srch-container .ui-input-search {
	opacity: 0.7;
}
#fld-srch-container .ui-input-search.ui-focus {
	opacity: 1;
}
#fld-srch-container .ui-corner-all {
	border-radius: 0.6em;
}
#fld-srch-container input {
	font-size: 17px;
}
#fld-srch-container a.ui-input-clear {
	border: none;
	border-radius: 22px;
	background-color: transparent;
	width: 22px;
	height: 22px;
	margin: -11px 6px 0 0;
}
#fld-srch-container a.searching:after {
	background-image: url(../img/searching.gif);
	background-size: 13px;
}
.ui-listview>.ui-li-static {
	cursor: pointer;
	padding: 8px;
	margin: 0;
}
.ui-listview>.ui-li-static {
	cursor: pointer;
	background-color: #fff;
	color: #000;
	text-shadow: none;
}
.ui-listview>.ui-li-static:hover {
	background-color: rgba(0,0,0,0.5);
	color: #fff;
}
.ui-listview>.ui-li-static:hover .ui-btn-icon-left:after {
	background-color: #000;
}
#fld-srch-container ul {
	right: 3px;
	left: 45px;
	max-width: 400px;
	max-height: 400px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	margin: 0;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 3000;
}
#mnu-srch-typ {
	display: none;
}
#fld-srch-retention {
	position: absolute;
	left: -1000px;
	top: -1000px;
}
#btn-srch-typ {
	position: absolute;
	right: 10px;
	top: 7px;
	background-color: transparent;
	border: none;
	opacity: 0.6;
}
#btn-srch-typ.ctl-active, #btn-srch-typ:hover {
	opacity: 1;
}
#btn-srch-typ:after, #fld-srch-container .ui-input-clear:after, #mnu-srch-typ .ui-btn-icon-left:after {
	background-color: rgba(0,0,0,0.5);
}
#btn-srch-typ:hover:after, #fld-srch-container .ui-input-clear:hover:after {
	background-color: #000;
}
#srch-type-geo span:after {
	background-image: url(../img/geo.png);
	background-size: 16px 16px;
}
span.srch-upk-icon:after {
	background-image: url(../img/hand.png);
	background-size: 16px 16px;
}
.srch-types .ui-input-clear {
	display: none;
}
@media only screen and (max-width : 405px) {
	#fld-srch-container {
		width: auto;
		right: 0;
	}
}