.info-tmpl, .tip-tmpl {
	display: none;
}
div.cartodb-tooltip {
	background-color: var(--theme-tip-bg-color);
	padding: 4px;
	min-width: 1px;
	max-width: none;
	width: auto;
	border-radius: var(--theme-border-radius);
	box-shadow: var(--theme-box-shadow);
	height: auto;
	margin: 10px;
	line-height: 16px;
}
div.cartodb-popup {
	width: 300px !important;		
}
div.cartodb-popup div.cartodb-popup-content {
	max-height: 400px !important;
}
div.cartodb-tooltip-content div {
	line-height: 16px;
}
a.cartodb-popup-close-button:before {
	display: none;
}
div.cartodb-popup.v2 a.cartodb-popup-close-button, 
div.cartodb-popup.v2 a.cartodb-popup-close-button:hover,
div.cartodb-popup.v2 a.cartodb-popup-close-button:after {
	width: 25px;
	height: 25px;
	border-radius: 20px;
	box-shadow: none;
	cursor: pointer;
}
div.cartodb-popup.v2 a.cartodb-popup-close-button:after {
	transform: none;
	margin: -9px 0 0 -6px;
	background-color: var(--theme-carto-ctl-bg-color);
	background-image: var(--theme-pop-closer-bg-img);
	background-position: center;
	background-repeat: no-repeat;
}
div.cartodb-popup.v2 a.cartodb-popup-close-button:hover:after {
	background-color: var(--theme-carto-ctl-bg-color-darker);
}