div.chart-title {
    font-weight: bold;
}
div.chart-series-icon {
    width: 10px;
    height: 10px;
    float: left;
    margin: 4px 4px 0;
}
div.chart-series {
    font-weight: normal;
}
div.chart-series-0 div.chart-series-icon {
    background-color: #000;
}
div.chart-series-1 div.chart-series-icon {
    background-color: var(--theme-carto-ctl-bg-color);
}
div#chart-tip {
	display: none;
	position: absolute;
	background: var(--theme-tip-bg-color);
	padding: 5px;
	border-radius: var(--theme-border-radius);
	box-shadow: var(--theme-box-shadow);
	min-width: 80px;
	z-index: 2000;
}
div.chart-tip-title {
	font-weight: bold;
}
div.chart-tip-0:before, div.chart-tip-1:before {
	content: 'xx';
	margin-right: 3px;
	text-shadow: none;
	color: var(--theme-carto-ctl-bg-color-darkest);
}
div.chart-tip-0:before {
	background-color: var(--theme-carto-ctl-bg-color-darkest);
}
div.chart-tip-1:before {
	background-color: var(--theme-carto-ctl-bg-color);
}