.feature-tip, .feature-tip-helper {
	position: absolute;
	border-radius: var(--theme-border-radius);
	padding: 3px;
	font-size: 12px;
	max-width: 150px;
	text-align: center;
	background-color: var(--theme-tip-bg-color);
	box-shadow: var(--theme-box-shadow);
}