@import url("theme.css");

html, body, body *,
body.ui-mobile-viewport, body.ui-mobile-viewport *,
.ui-page-theme-a, .ui-page-theme-a *, .ui-page-theme-a .ui-btn {
	font-size: 16px;
	text-shadow: none !important;
	font-family: var(--theme-font-family);
	color: var(--theme-text-color);
}
.ui-btn {
	font-size: 16px !important;
}
.ui-corner-all, .ui-btn.ui-corner-all {
	border-radius: var(--theme-border-radius);
}
*.screen-reader-only {
	position: absolute !important;
	left:-1000px !important;
	top: auto !important;
	width: 1px !important;
	height: 1px !important;
	overflow: hidden !important;
	border: none !important;
	color: transparent !important;
	background-color: transparent !important;
}
