<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>nyc-lib: <?js= title ?></title>

	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="scripts/prettify/prettify.js"> </script>
    <script src="scripts/prettify/lang-css.js"> </script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
    <link type="text/css" rel="stylesheet" href="styles/jsdoc-default.css">
    <link type="text/css" rel="stylesheet" href="nyc/css/nyc.css">
</head>

<body>

<div id="main">

    <h1 class="page-title">
    	<?js if (title.indexOf('Source') == 0) { ?>
    		 Source:<span class="nyc-smaller"><?js= title.split(':')[1] ?></span>
    	<?js }else{ ?>
    		<?js= title ?>
    	<?js } ?>
	    <span id="maps-nyc-gov">maps.nyc.gov</span>
    </h1>

	<?js if (title == 'Home'){ ?>
		<section class="nyc-desc">
			<header>
				<h2>nyc-lib <span class="nyc-smaller">(version @@NYC-LIB-VER@@)  <a class="nyc-github" href="https://github.com/timkeane/nyc-lib"></a></span></h2>
				<div class="class-description">
					A collection of javascript libraries used in the development New York City mapping applications.
				</div>
			</header>
			<article>
				<div class="description">
					<p>
						All of these libraries depend on <a>JQuery</a> and rendering is enhanced by <a>JQuery Mobile</a>.
					</p>
				    <p>
					    The <span class="nyc-bold">nyc-lib</span> javascript libraries
					    provide various javascript classes to interact with New York City data and 
					    provide a standard UX across mapping applications.
				    </p>
				    <p>
					    These libraries provide functionality for applications utilizing 
					    <a href="http://openlayers.org/">OpenLayer 3</a>, 
					    <a href="http://leafletjs.com/">Leaflet</a>,
					    <a href="https://cartodb.com/">CartoDB</a> and 
					    <a href="http://www.chartjs.org/">ChartJS</a>.
				    </p>
				    
			    	<h4>nyc-ol-lib <span class="nyc-smaller">(OpenLayers)</span></h4>
			    	
			    	<input class="nyc-src-code" 
			    	value='&lt;script src="@@NYC-LIB-URL@@/js/nyc-ol-lib.js"&gt;&lt;/script&gt;'><br>
					<input class="nyc-src-code" 
					value='&lt;link href="@@NYC-LIB-URL@@/css/nyc-ol-lib.css" rel="stylesheet"&gt;&lt;/link&gt;'>
			    	
			    	<h4>nyc-ol-redline-lib <span class="nyc-smaller">(OpenLayers)</span></h4>
			    	
			    	<input class="nyc-src-code" 
			    	value='&lt;script src="@@NYC-LIB-URL@@/js/nyc-ol-redline-lib.js"&gt;&lt;/script&gt;'><br>
					<input class="nyc-src-code" 
					value='&lt;link href="@@NYC-LIB-URL@@/css/nyc-ol-redline-lib.css" rel="stylesheet"&gt;&lt;/link&gt;'>

			    	<h4>nyc-carto-lib <span class="nyc-smaller">(CartoDB and ChartJS)</span></h4>
			    	
			    	<input class="nyc-src-code" 
			    	value='&lt;script src="@@NYC-LIB-URL@@/js/nyc-carto-lib.js"&gt;&lt;/script&gt;'><br>
					<input class="nyc-src-code" 
					value='&lt;link href="@@NYC-LIB-URL@@/css/nyc-carto-lib.css" rel="stylesheet"&gt;&lt;/link&gt;'>
			    	
			    	<h4>nyc-leaf-lib <span class="nyc-smaller">(Leaflet)</span></h4>
			    	
			    	<input class="nyc-src-code" 
			    	value='&lt;script src="@@NYC-LIB-URL@@/js/nyc-leaf-lib.js"&gt;&lt;/script&gt;'><br>
					<input class="nyc-src-code" 
					value='&lt;link href="@@NYC-LIB-URL@@/css/nyc-leaf-lib.css" rel="stylesheet"&gt;&lt;/link&gt;'>

				</div>
			</article>
		</section>
	<?js }else{ ?>
		<?js= content ?>
	<?js } ?>
	
</div>

<nav>
    <?js= this.nav ?>
</nav>

<br class="clear">

<footer>
	nyc-lib (version @@NYC-LIB-VER@@)<br>
    Documentation generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc <?js= env.version.number ?></a><?js if(env.conf.templates && env.conf.templates.default && env.conf.templates.default.includeDate !== false) { ?> on <?js= (new Date()) ?><?js } ?>
</footer>

<script>$('.nyc-src-code').click(function(){$(this).select();});</script>
<script> prettyPrint(); </script>
<script src="scripts/linenumber.js"> </script>
</body>
</html>
