html, body.ui-overlay-a, div.ui-page-active {
	padding: 0;
	margin: 0;
 	height: 100%;
	background-color: rgba(0,0,0,0);
	overflow: hidden !important;
}
#first-load {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #E8E8E8;
	z-index: 1000000;
}
#first-load td {
	text-align: center;
}
#first-load img {
	width: 220px;
	height: 75px;
}
#first-load p {
	font-size: 34px;
	font-weight: bold;
	color: black;
	text-align: center;
	margin-top: -14px;
}
#map {
	height: 50%;
}
#ctl-z-srch {
	top: -5px;
}
#facility {
	height: calc(50% - 60px);
	overflow: auto;
}
#map, #facility, #filter {
	left: 0;
	right: 0;
	margin: 0 0 5px 0;
}
#map, #facility {
	border: 1px solid rgba(0,0,0,0.3);
}
#map, #facility, div.ol-viewport {
	border-radius: 0.6em;
}
#facility table {
	width: 100%;
}
#filter {
	display: none;
}
label[for="filter-choices"], #filter div.ui-select {
	display: table-cell;
	padding-right: 5px;
}
label[for="filter-choices"] {
	font-weight: bold;
}
#filter-choices-button {
	border-radius: 0.6em;
	min-width: 200px;
}
#facility table {
	border-collapse: collapse;
}
tr.facility-info {
	padding: 3px 0;
	cursor: pointer;
}
tr.even-row {
	background-color: rgba(0,0,0,0.1);
}
tr.facility-info td {
	display: table-cell;
	padding: 0 3px;
}
td.facility-icon img {
	width: 22px;
	height: 22px;
}
td.facility-distance {
	font-size: 67%;
	width: 40px;
	text-align: center;
}