div.popup {
	max-width: 300px;
	background-color: white;
	border: 1px solid rgb(8,80,149);
	display: none;
	position: absolute;
	bottom: 12px;
	left: -50px;
	border-radius:8px;
	box-shadow: 0 1px 3px /*{global-box-shadow-size}*/ rgba(8,80,149,0.5) /*{global-box-shadow-color}*/;
	z-index: 200;
}
.inf-center {
	min-width: 265px;
}
.inf-zone, .inf-location {
	min-width: 200px;
}
.popup:after, .popup:before {
	top: 100%;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
 .popup:before {
 	border: solid transparent;	
 }
.popup:after {
	border: solid transparent;
	border-top-color: #fefdd3;
	border-width: 10px;
	left: 48px;
	margin-left: -10px;
}
.popup:before {
	border-top-color: rgba(8,80,149,1);
	border-width: 12px;
	left: 48px;
	margin-left: -12px;
	margin-top: 0.4px;
}
.popup-content {
	margin: 5px 25px 10px 10px;
}
a.popup-closer, a.popup-closer:visited {
	position: absolute;
	width: 23px;
	height: 23px;
	top: 3px;
	right: 3px;
	font-size: 24px;
	border-radius: 12px;
	cursor: pointer;
	background-color: rgba(8,80,149,0.5);
	background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20fill%3D%22%23FEFDD3%22%20points%3D%2214%2C3%2011%2C0%207%2C4%203%2C0%200%2C3%204%2C7%200%2C11%203%2C14%207%2C10%2011%2C14%2014%2C11%2010%2C7%20%22%2F%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
	background-size: 15px;
	background-repeat: no-repeat;
	background-position: center;
}
a.popup-closer:hover {
	background-color: rgb(8,80,149);
}
.popup .inf-map {
	display: none;
}
@media only screen and (max-height : 330px) {
	.popup {
		max-height: 310px;
	}
	.popup-content {
		max-height: 280px;
	}
}
