#main h1 {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3Asvg%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22149%22%20height%3D%2252%22%3E%3Cpolygon%20points%3D%2249.7%2C4.3%2046.6%2C1.2%2034.1%2C1.2%2031%2C4.3%2031%2C16.7%2015.5%2C1.2%203.1%2C1.2%200%2C4.3%200%2C47.7%203.1%2C50.8%2015.5%2C50.8%2018.6%2C47.7%2018.6%2C35.3%2034.1%2C50.8%2046.6%2C50.8%2049.7%2C47.7%22%20style%3D%22fill%3A%230095dd%22%2F%3E%3Cpolyline%20points%3D%2249.7%2C22.9%2065.2%2C38.4%2065.2%2C47.7%2068.3%2C50.8%2080.7%2C50.8%2083.8%2C47.7%2083.8%2C38.4%2099.3%2C22.9%2099.3%2C10.5%2099.3%2C4.3%2096.2%2C1.2%2083.8%2C1.2%2080.7%2C4.3%2080.7%2C10.5%2074.5%2C16.7%2068.3%2C10.5%2068.3%2C4.3%2065.2%2C1.2%2052.8%2C1.2%2049.7%2C4.3%22%20style%3D%22fill%3A%230095dd%22%2F%3E%3Cpolyline%20points%3D%2299.3%2C41.5%20108.6%2C50.8%20139.7%2C50.8%20149%2C41.5%20149%2C32.2%20145.9%2C29.1%20130.4%2C29.1%20130.4%2C32.2%20118%2C32.2%20118%2C19.8%20130.4%2C19.8%20130.4%2C22.9%20145.9%2C22.9%20149%2C19.8%20149%2C10.5%20139.7%2C1.2%20108.6%2C1.2%2099.3%2C10.5%22%20style%3D%22fill%3A%230095dd%22%2F%3E%3C%2Fsvg%3E");
	background-repeat: no-repeat;
	background-size: 90px 30px;
	background-position: 0 16px;
	padding-left: 100px;
}
#maps-nyc-gov {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 0.345em;
	font-weight: bold;
	margin: -32px 0 0 -100px;
	color: #0095dd;
}
.nyc-lib-smaller {
	font-size: 75%;
}
section.nyc-lib-desc {
	min-height: 1050px;
}
.nyc-bold {
	font-weight: bold;
}
.nyc-srcs table {
	width: 100%;
}
.nyc-src-code {
	border-radius: 5px;
	margin: -8px 0 14px 0;
	background-color: #0095dd;
	font-family: Courier;
	color: #fff;
    border: none;
    width: 100%;
    font-size: 14px;
    padding: 10px;
}
