html, body, body * {
	font-size: 16px;
	font-family: var(--font-family);
	color: var(--color-dark);
}
*:focus {
	outline: none;
	box-shadow: 0px 1px 7px 3px var(--color-shadow);
	z-index: 100000;
}
.rad-all, .rad-top, .rad-bot {
	border-radius: var(--border-radius);
	border: 1px solid var(--color-border);
}
.rad-top {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.rad-bot {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
*.screen-reader-only {
	position: absolute !important;
	left:-1000px !important;
	top: auto !important;
	width: 1px !important;
	height: 1px !important;
	overflow: hidden !important;
	border: none !important;
	color: transparent !important;
	background-color: transparent !important;
}
.btn, .btn-sq, .btn-rnd {
	background-repeat: no-repeat;
	cursor: pointer;
	font-weight: bold;
	background-position: center;
}
.btn {
	background-position: 3px center;
	padding: 0;
	text-align: center;
}
.btn, .btn-sq {
	background-size: 28px;
}
.btn {
	background-color: var(--color-button);
	color: var(--color-dark);
	height: 35px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
a.btn, h3.btn, div.btn {
	padding-top: 9px;
	height: 26px;
	text-decoration: none;
}
.btn-sq, .btn-rnd {
	background-color: var(--color-dark-translucent);
	color: var(--color-light);
}
.btn-sq {
	position: absolute;
	width: 35px;
	height: 35px;
	margin: 0;
	padding: 0;
}
.btn:hover {
	background-color: var(--color-border);
}
.btn-sq:hover, .btn-rnd:hover {
	background-color: var(--color-dark);
	color: var(--color-light);
}
.btn-rnd {
	width: 24px;
	height: 24px;
	background-size: 14px;
	border-radius: 50%;
	border: none;
}
.btn-rnd:focus {
	outline: none;
}
.btn-x {
	background-image: var(--x-icon-light);
}
.btn-prv {
	background-image: var(--left-icon-light);
}
.btn-nxt {
	background-image: var(--right-icon-light);
}
input {
	height: 33px;
	padding: 0 3px;
}
.nyc-html {
	display: table;
	border: 1px solid var(--color-border);
	border-radius: var(--border-radius);
}
.nyc-html div {
	display: table-row;
}
.nyc-html div span {
	font-size: 14px;
	display: table-cell;
	overflow: hidden;
	text-overflow: ellipsis;
	border-bottom: 1px solid var(--color-border);
	padding: 0 3px;
	overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
}
.nyc-html div:last-of-type span {
	border-bottom: none;
}
.nyc-html .fld {
	font-weight: bold;
	border-right: 1px solid var(--color-border);
}
