:root {
  --font-family:                    'Helvetica Neue',Helvetica,Arial,sans-serif;
  --color-dark:                     rgb(0,0,0);
  --color-shadow:                   rgba(0,0,0,.1);
  --color-dark-translucent:         rgba(0,0,0,.55); 
  --color-button:                   rgb(239,239,239);
  --color-border:                   rgb(221,221,221);
  --color-medium:                   rgb(247,247,247);
  --color-light:                    rgb(255,255,255);
  --color-light-translucent:        rgba(255,255,255,.9);
  --loading-gradient:               linear-gradient(-90deg, rgb(127,127,127), rgb(200,200,200), rgb(30,30,30), rgb(127,127,127), rgb(200,200,200));
  --focus-ring-color:               rgb(59, 153, 252);
  --focus-ring-color-light:         rgb(62, 156, 255);
}
*.screen-reader-only {
	position: absolute !important;
	left:-1000px !important;
	top: auto !important;
	width: 1px !important;
	height: 1px !important;
	overflow: hidden !important;
	border: none !important;
	color: transparent !important;
	background-color: transparent !important;
}
