html, body, body * {
	font-size: 16px;
	text-shadow: none !important;
	font-family: var(--theme-font-family);
	color: var(--theme-text-color);
}
.rad-all, .rad-top, .rad-bot {
	border-radius: var(--theme-border-radius);
}
.rad-top {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.rad-bot {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
*.screen-reader-only {
	position: absolute !important;
	left:-1000px !important;
	top: auto !important;
	width: 1px !important;
	height: 1px !important;
	overflow: hidden !important;
	border: none !important;
	color: transparent !important;
	background-color: transparent !important;
}
.btn, .btn-sq, .btn-rnd {
	border: var(--theme-btn-border);
	background-repeat: no-repeat;
	cursor: pointer;
	font-weight: bold;
}
.btn {
	background-color: var(--theme-btn-bg-color);
	color: var(--theme-btn-text-color);
	height: 35px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
a.btn, h3.btn {
	padding-top: 9px;
	height: 26px;
	text-decoration: none;
}
.btn-sq, .btn-rnd {
	background-color: var(--theme-btn-sm-bg-color);
	color: var(--theme-btn-sm-text-color);
}
.btn-sq, .btn-rnd {
	background-position: center;
}
.btn-sq {
	position: fixed;
	width: 35px;
	height: 35px;
	margin: 0;
	padding: 0;
	background-size: 19px;
}
.btn:hover {
	background-color: var(--theme-btn-bg-color-hover);
}
.btn-sq:hover, .btn-rnd:hover {
	background-color: var(--theme-btn-sm-bg-color-hover);
	color: var(--theme-btn-sm-text-color-hover);
}
.btn-rnd {
	width: 24px;
	height: 24px;
	background-size: 14px;
	background-color: var(--theme-btn-sm-bg-color);
	border-radius: 50%;
}
.btn-rnd:focus {
	outline: none;
}
.btn-clr {
	background-image: var(--theme-x-bg-img);
}
input {
	height: 33px;
	padding: 3px;
}
