.chc-container {
	border: var(--theme-border);
	display: table;
}
.chc {
	display: table-row;
	height: 33px;
	padding: 3px;
	width: 100%;
	background-color: var(--theme-btn-bg-color);
}
.chc:hover {
	background-color: var(--theme-btn-sm-bg-color);
}
.chc:hover label {
	color: var(--theme-btn-sm-text-color);
}
.chc div {
	border-top: var(--theme-border);
	display: table-cell;
	vertical-align: middle;
	cursor: pointer;
	color: inherit;
}
.chc:first-of-type div {
	border-top: none;
}
.chc div:last-child {
	width: 100%;
}
.chc input {
	margin: 0 8px;
	width: 14px;
	height: 14px;
}
.chc label {
	display: block;
}
