.chc {
	border: 1px solid var(--color-medium);
	display: table;
}
.chc-chc {
	display: table-row;
	height: 33px;
	padding: 3px;
	width: 100%;
	background-color: var(--color-medium-light-translucent);
}
.chc-chc:hover {
	background-color: var(--color-medium);
}
.chc-chc div {
	border-top: 1px solid var(--color-medium);
	display: table-cell;
	vertical-align: middle;
	cursor: pointer;
	color: inherit;
}
.chc-chc:first-of-type div {
	border-top: none;
}
.chc-chc div:last-child {
	width: 100%;
}
.chc-chc input {
	margin: 0 8px;
	width: 14px;
	height: 14px;
}
.chc-chc label {
	display: block;
}
input[type="checkbox"], input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
}
input[type="checkbox"]:before, input[type="radio"]:before {
  content: " ";
  display: block;
  position: relative;
  margin: -5px;
  font-size: 14px;
  background-color: var(--color-light);
  border: 1px solid var(--color-dark);
  color: transparent;
  text-align: center;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: center;
}
input[type="checkbox"]:before {
  border-radius: 3px;
}
input[type="radio"]:before {
  border-radius: 50%;
}
input[type="checkbox"]:checked:before {
  background-image: var(--check-icon-dark);
  background-size: 13px;
}
input[type="radio"]:checked:before {
  background-image: var(--dot-icon-dark);
  background-size: 9px;
}
