.clps.rad-all {
  border: none;
}
.clps>button, .clps div.content {
  position: relative;
}
.clps>button {
  margin: 0;
  text-align: left;
  width: 100%;
}
.clps>button:before {
  display: block;
  content: ' ';
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-size: 14px;
  background-image: var(--up-icon-light, none);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color-dark-translucent, none);
  float: left;
  margin: -3px 3px;
}
.clps>button.rad-all:before {
  background-image: var(--down-icon-light);
}
.clps>button:hover:before {
  background-color: var(--color-dark);
}
.clps div.content {
  border: 1px solid var(--color-border);
  border-top: none;
  padding: 5px;
}
