.clps.rad-all {
  border: none;
}
.clps h3 {
  margin: 0;
  text-align: left;
}
.clps h3 .btn-rnd {
  background-image: var(--up-icon-light);
  float: left;
  margin: -3px 5px 0 3px;
}
.clps h3 .btn-rnd.expd {
  background-image: var(--down-icon-light);
}
.clps div.content {
  border: 1px solid var(--color-medium);
  border-top: none;
  padding: 5px;
}
