#directions {
	display: none;
	left: 0;
}
#directions, #back-to-map, #dir-tabs, #map-tab, #route-tab {
	position: fixed;
  display: block;
  top: 35px;
	right: 0;
	bottom: 0;
}
#dir-tabs {
  width: 400px;
}
#map-tab.tab {
  margin: 0;
  padding: 0;
  left: 0;
  right: 400px;
  overflow: hidden;
  border-top: 1px solid var(--color-border)
}
#route-tab.tab {
  width: 390px;
}
#map-tab div.map {
	width: 100%;
	height: 100%;
}
#back-to-map {
  top: 0;
	left: auto;
	padding: 5px 3px 0 3px;
	background-color: var(--color-dark);
	color: var(--color-light);
	border: none;
}
#back-to-map.btn:before {
	display: block;
	content: ' ';
	float: left;
	margin: -4px 3px 0 0;
	width: 24px;
	height: 24px;
	border: 1px solid var(--color-light);
	border-radius: 50%;
	background-size: 14px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: var(--color-dark-translucent);
	background-image: var(--left-icon-light, none);
}
#back-to-map.btn:hover:before {
	background-color: var(--color-light);
	background-image: var(--left-icon-dark, none);
	border-color: transparent;
}
#back-to-map * {
	background-color: var(--color-dark);
  color: #fff;
}
#directions .tabs {
	top: 35px;
}
#directions .tabs .btns {
	display: none;
}
#mode {
	width: 100%;
	border-collapse: collapse;
	margin: 3px 0;
}
#mode td {
	height: 35px;
	vertical-align: middle;
	text-align: left;
	width: 36px;
}
#mode td:last-child {
	width: calc(100% - 144px);
	text-align: right;
}
#mode td .btn-sq {
	position: relative;
}
#mode td .btn-sq.active {
	background-color: var(--color-dark);
}
#car {
	background-image: var(--car-icon-light, none);
}
#transit {
	background-image: var(--train-icon-light, none);
}
#walk {
	background-image: var(--walk-icon-light, none);
}
#bike {
	background-image: var(--bike-icon-light, none);
}
#mta {
	width: 139px;
	background-image: var(--mta-icon-light, none);
	background-position: 1px 3px;
	padding-left: 27px;
	background-size: 26px;
}
#mta svg {
	width: 20px;
	height: 20px;
	margin: -5px 0;
	fill: var(--color-light);
}
#mta span.notranslate {
	color: var(--color-light);
}
#fld-from input,
html.translated-rtl	#fld-from input {
	width: calc(100% - 9px);
	margin-bottom: 5px;
	direction: ltr;
}
.fld-lbl, .to-lbl, .to-facility {
	font-weight: bold;
}
.adp-directions {
	width: 100%;
}
button.gm-fullscreen-control {
	display: none;
}
#route-tab .route,
html.translated-rtl #route-tab .route  {
	height: calc(100% - 145px);
	overflow-y: auto;
	overflow-x: hidden;
	direction: ltr;
}
#directions div.map *, div.route *,
html.translated-rtl	#directions div.map *, html.translated-rtl div.route * {
	font-family: var(--font-family) !important;
	color: var(--color-dark);
	font-size: 16px;
	font-weight: normal;
	direction: ltr;
}
div.route b {
	font-weight: bold;
}
div.route .adp-placemark {
	padding: 3px 3px 0 3px;
}
div.route .adp-placemark, div.route .adp-placemark *,
html.translated-rtl div.route .adp-placemark, html.translated-rtl div.route .adp-placemark * {
	background-color: var(--color-dark);
	font-weight: 500;
	color: var(--color-light);
}
div.route .warnbox-content, div.route .adp-agencies, div.route .adp-agencies * {
	background-color: var(--color-button);
}
div.route .warnbox-c1, div.route .warnbox-c2 {
	display: none;
}
div.route .adp-placemark, div.route .warnbox-content, div.route .adp-agencies {
	border: 1px solid var(--color-border);
	border-radius: 3px;
}
div.route .warnbox-content, div.route .adp-agencies {
	padding: 5px;
}
#directions .btn-z-in, #directions .btn-z-out {
  left: 3px;
}
#directions .btn-z-in {
  top: 3px;
}
#directions .btn-z-out {
  top: 40px;
}
#directions div.gm-style-iw+div, #directions div.gm-style-iw+div:hover {
	background-color: var(--color-dark-translucent);
	position: unset !important;
	float: right !important;
	width: 22px !important;
	height: 22px !important;
	border-radius: 50% !important;
	margin: 5px !important;
	background-image: var(--x-icon-light, none) !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
	opacity: .99999 !important;
}
#directions div.gm-style-iw+div:hover {
	background-color: var(--color-dark);
}
#directions div.gm-style-iw+div>img {
	visibility: hidden;
}
#directions .adp-directions tr {
	border: 1px solid var(--color-border);
}
#directions .adp-directions tr:nth-child(odd) {
	background-color: var(--color-medium);
}
#directions .adp-legal {
	font-size: 50% !important;
}
#directions .gm-style-cc, #directions .gm-style-cc * {
	font-size: 80% !important;
	width: auto !important;
}
a[title="Click to see this area on Google Maps"] {
	position: absolute !important;
	bottom: 0;
	height: 15px;
}
img[src="https://maps.gstatic.com/mapfiles/api-3/images/google_white5_hdpi.png"],
img[src="https://maps.gstatic.com/mapfiles/api-3/images/google_white5.png"] {
	width: 38px !important;
	height: 15px !important;
}
.no-transit {
	padding: 5px;
	display: none;
}
.gm-iw {
	max-width: 200px;
}
@media only screen and (max-width : 750px), screen and (max-device-height: 350px) {
  #dir-tabs {
    width: 100%;
  }
  #directions .tabs .btns {
	display: table;
  }
  #directions .tab {
    position: absolute;
    left: 0;
		right: 0;
		width: auto;
    display: none;
  }
  #directions .tab.active {
		display: block;
	}
}