.geoloc {
	position: absolute;
	left: 3px;
	top: 3px;
	right: 0;
}
.btn-geo {
	position: absolute;
  left: 0;
  top: 74px;
	background-image: var(--geo-icon-light, none);
  background-size: 25px;
}
.fm .geoloc {
	left: auto;
	top: auto;
	right: 1px;
	bottom: 186px;
	width: 37px;	
}