.loading #loading {
  display: block;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(-90deg, #7f7f7f, #c8c8c8, #1e1e1e, #7f7f7f, #c8c8c8);
  background-size: 800% 800%;
  -webkit-animation: loading 10s ease infinite;
  -moz-animation: loading 10s ease infinite;
  animation: loading 10s ease infinite;
}
@-webkit-keyframes loading {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes loading {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes loading {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
#loading div {
  width: 152px;
  position: fixed;
  top: calc(50% - 40px);
  left: calc(50% - 76px);
}
#loading svg {
  stroke: #fff;
  stroke-width: 1.5;
  fill: rgba(255,255,255,0.2)
}
#loading div h1 {
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 23px;
  color: #fff;
  font-weight: bold;
  margin: -10px 0 0 -1px;
}
