.f-tip {
	border-radius: var(--border-radius);
	padding: 3px;
	font-size: 12px;
	min-width: 100px;
	max-width: 150px;
	text-align: center;
	background-color: var(--color-light-translucent);
	box-shadow: var(--box-shadow);
}
