html, body.fnd, .fnd #map {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.fnd #banner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 32px;
  margin: 0;
  padding: 4px 0 0 80px;
  background-color: var(--theme-btn-active-bg-color);
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22149%22%20height%3D%2252%22%3E%3Cg%20style%3D%22fill%3A%23fff%3Bfill-opacity%3A1%3Bstroke%3Anone%3Bstroke-opacity%3A1%22%3E%3Cpolygon%20points%3D%2249.7%2C4.3%2046.6%2C1.2%2034.1%2C1.2%2031%2C4.3%2031%2C16.7%2015.5%2C1.2%203.1%2C1.2%200%2C4.3%200%2C47.7%203.1%2C50.8%2015.5%2C50.8%2018.6%2C47.7%2018.6%2C35.3%2034.1%2C50.8%2046.6%2C50.8%2049.7%2C47.7%22%2F%3E%3Cpolyline%20points%3D%2249.7%2C22.9%2065.2%2C38.4%2065.2%2C47.7%2068.3%2C50.8%2080.7%2C50.8%2083.8%2C47.7%2083.8%2C38.4%2099.3%2C22.9%2099.3%2C10.5%2099.3%2C4.3%2096.2%2C1.2%2083.8%2C1.2%2080.7%2C4.3%2080.7%2C10.5%2074.5%2C16.7%2068.3%2C10.5%2068.3%2C4.3%2065.2%2C1.2%2052.8%2C1.2%2049.7%2C4.3%22%2F%3E%3Cpolyline%20points%3D%2299.3%2C41.5%20108.6%2C50.8%20139.7%2C50.8%20149%2C41.5%20149%2C32.2%20145.9%2C29.1%20130.4%2C29.1%20130.4%2C32.2%20118%2C32.2%20118%2C19.8%20130.4%2C19.8%20130.4%2C22.9%20145.9%2C22.9%20149%2C19.8%20149%2C10.5%20139.7%2C1.2%20108.6%2C1.2%2099.3%2C10.5%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 3px 6px;
  background-size: 71px 24px;
  background-repeat: no-repeat;
}
.fnd #banner, .fnd #banner * {
  font-size: 24px;
  color: var(--theme-btn-sm-text-color);
}
.fnd .splash .dia {
  background-color: var(--theme-btn-active-bg-color);
  width: calc(100% - 60px);
  margin-left: calc(15px - 50%);
  margin-top: -130px;
}
.fnd .splash .dia-msg {
  color: var(--theme-btn-sm-text-color);
}
.fnd .splash .dia-msg:focus {
  outline: none;
}
.fnd .splash .dia .btn-ok {
  width: 100px;
  background-color: rgba(255,255,255,.9);
}
.fnd .splash .dia .btn-ok:hover {
  width: 100px;
  background-color: #fff;
}
.fnd #tabs {
  position: fixed;
  top: 35px;
  right: 0;
  bottom: 0;
  width: 400px;
}
.fnd #tabs .btns h3 {
  width: 33%;
}
.fnd #tabs .btns h3.btn-0 {
  display: none;
}
.fnd #tabs .btns h3.btn-2.filtered:before {
  display: block;
  position: absolute;
  right: 0;
  content: " ";
  width: 22px;
  height: 22px;
  background-color: var(--theme-btn-sm-bg-color);
  border-radius: 50%;
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: var(--theme-filter-bg-img);
  margin: -3px 3px;
  border: var(--theme-border)
}
.fnd #map.tab, .fnd #facilities.tab {
  margin: 0;
  bottom: 0;
}
.fnd #map {
  display: block;
  position: fixed;
  left: 0;
  top: 36px;
  right: 400px;
  overflow: hidden;
}
.fnd #map, .fnd #facilities {
  width: : 100%;
}
.fnd .lst-it .btn, .fnd .pop .btn {
  margin: 0 3px 0 0;
  width: calc(50% - 5px);
  display: inline-block;
}
.fnd .lst-it .btn:first-of-type, .fnd .pop .btn:first-of-type {
  margin-top: 3px;
}
.fnd .pop .btn.map {
  display: none;
}
.fnd .pop .btn.dir {
  display: block;
  width: auto;
}
.lst-it .name, .pop .name {
  font-weight: bold;
}
#lng {
  position: absolute;
  left: 3px;
  bottom: 40px;
}
@media only screen and (max-width : 750px), screen and (max-device-height: 350px) {
  .fnd #tabs {
    width: 100%;
  }
  .fnd #tabs .btns h3.btn-0 {
    display: table-cell;
  }
  .fnd #map.tab {
    position: absolute;
    width: 100%;
    display: none;
  }
  .fnd #map.tab.active {
    display: block;
  }
}
