.f-tip {
	border-radius: var(--border-radius);
	padding: 3px;
	font-size: 12px;
	min-width: 100px;
	max-width: 150px;
	text-align: center;
	background-color: var(--color-light-translucent);
	box-shadow: var(--box-shadow);
	margin: 2px !important; /* without this margin map clicks may get blocked by the feature tip */
}
