.pop {
	max-width: 350px;
	background-color: var(--theme-pop-bg-color);
	border-radius: var(--theme-border-radius);
	border: var(--theme-pop-border);
	border-color: var(--theme-pop-border-color);
	box-shadow: var(--theme-box-shadow);
	display: none;
	position: absolute;
	bottom: 12px;
	left: -50px;
	z-index: 200;
	overflow: hidden;
}
.pop:after, .pop:before {
	top: 100%;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.pop:after {
	border: solid transparent;
	border-top-color: var(--theme-pop-bg-color);
	border-width: 10px;
	left: 48px;
	margin-left: -10px;
}
.pop:before {
	border: solid transparent;
	border-top-color: var(--theme-pop-border-color);
	border-width: 12px;
	left: 48px;
	margin-left: -12px;
	margin-top: 0.4px;
}
.pop .content {
	margin: 5px 25px 10px 10px;
	width: 330px;
	max-height: 500px;
	overflow: auto
}
.pop .btn-x {
	position: absolute;
	top: 3px;
	right: 3px;
	z-index: 2;
}
