html.translated-rtl * :not(.ol-overlaycontainer-stopevent) {
  direction: rtl;
}
html.translated-rtl *.notranslate {
  direction: ltr;
  text-align: right;
}
.shr, .srch-ctl, button.apply * {
    direction: ltr !important;    
}
