.translated-rtl .srch .btn-x, .translated-rtl .lst-srch .btn-x {
	right: calc(100% - 28px);
	left: auto;
}
.translated-rtl .srch input, .translated-rtl .lst-srch input {
	background-position: calc(100% - 3px) center;
}