.srch {
  position: relative;
	width: auto;
}
.ol-overlaycontainer-stopevent .srch {
  position: absolute;
	top: 3px;
	left: 41px;
	right: 3px;
	max-width: 400px;
}
.ol-overlaycontainer-stopevent .srch input, .srch ul {
	background-color: var(--color-light-translucent);
}
.ol-overlaycontainer-stopevent .srch input {
	width: 100%;
	padding-left: 23px;
  border-color: var(--color-dark);
	width: calc(100% - 28px);
}
.ol-overlaycontainer-stopevent .btn-srch {
	display: none;
}
.srch ul {
	display: none;
	max-height: 300px;
	padding: 0;
	list-style-type: none;
	box-shadow: var(--box-shadow);
	overflow-x: hidden;
	overflow-y: auto;
	margin: 1px 0 0 0;
}
.ol-overlaycontainer-stopevent .srch:after {
	content: " ";
	background-image: var(--magnify-icon-medium, none);
	background-size: 14px;
	background-repeat: no-repeat;
	position: absolute;
	top: 11px;
	left: 5px;
	width: 15px;
	height: 15px;
}
.srch .btn-x {
	display: none;
	position: absolute;
	left: calc(100% - 28px);
	top: 5px;
}
.srch ul li {
	background-color: var(--color-light-translucent);
	cursor: pointer;
	padding: 6px 3px;
	margin: 0;
	border-bottom: 1px solid var(--color-border);
}
.srch ul li:last-child {
	border-bottom: none;
}
.srch ul li:focus {
	outline: 0;
}
.srch ul li a {
	text-decoration: none;
	padding: 1px 3px;
	width: calc(100% - 10px);
	display: block;
	margin: -1px 3px;
}
.srch ul li:hover {
	background-color: var(--color-dark-translucent);
}
.srch ul li:hover a, .srch ul li:hover a * {
	color: var(--color-light);	
}
.srch ul.retention {
	display: none;
}