.shr {
	position: absolute;
	left: 3px;
	bottom: 3px;
	height: 35px;
}
.btn-shr {
	background-image: var(--share-icon-light, none);
}
.btn-shr, .shr .btns a {
	width: 33px;
	height: 33px;
}
.shr .btns {
	display: none;
	position: fixed;
	left: 39px;
}
.shr .btns a {
	position: relative;
	display: inline-block;
	margin: 0 3px 0 0;
}
.shr .btns .facebook {
	background-image: var(--facebook-icon-light, none);
}
.shr .btns .twitter {
	background-image: var(--twitter-icon-light, none);
}
.shr .btns .linkedin {
	background-image: var(--linkedin-icon-light, none);
}
.shr .btns .tumblr {
	background-image: var(--tumblr-icon-light, none);
}
.shr .btns .email {
	background-image: var(--email-icon-light, none);
}
