.tabs {
  background-color: var(--color-light);
  border: 1px solid var(--color-border);
}
.tabs>.btns {
  height: 35px;
  width: 100%;
  display: table;
  white-space: nowrap;
}
.tabs .btns h2 {
  display: table-cell;
  margin: 0;
  border-right: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
  text-align: center;
}
.tabs .btns h2.active, .tabs .btns h2.active * {
  background-color: var(--color-dark);
  color: var(--color-light);
}
.tabs .btns h2:last-of-type {
  border-right: none;
}
.tabs .container {
  height: calc(100% - 35px);
  overflow: auto;
}
.tabs .container .tab {
  display: none;
  padding: 5px;
  min-height: calc(100% - 10px);
}
.tabs .container .tab.active {
  display: block;
}
.tabs h2[role="tab"] a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: block;
  padding-top: 9px;
}
.tabs h2[role="tab"].btn {
  padding: 0;
}   
.tabs h2[role="tab"] a:focus, .tab.active:focus {
	box-shadow: inset 0px 1px 7px 3px var(--focus-ring-color);
}
.tabs h2[role="tab"].active a:focus {
	box-shadow: inset 0px 1px 7px 3px var(--focus-ring-color-light);
}
