.tabs {
  background-color: var(--color-light);
  border: 1px solid var(--color-border);
}
.tabs>.btns {
  height: 35px;
  width: 100%;
  display: table;
  white-space: nowrap;
}
.tabs>.btns h2 {
  display: table-cell;
	margin: 0;
	padding: 0;
}
.tabs>.btns button.btn {
  display: block;
  width: 100%;
  margin: 0;
  border: none;
  border-right: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
  text-align: center;
}
.tabs>.btns button.btn.active, .tabs>.btns button.btn.active * {
  background-color: var(--color-dark);
  color: var(--color-light);
}
.tabs .container {
  height: calc(100% - 35px);
  overflow: auto;
}
.tabs .container .tab {
  display: none;
  padding: 5px;
  min-height: calc(100% - 10px);
}
.tabs .container .tab.active {
  display: block;
}
.tabs h2 button.btn:focus, .tab.active:focus {
	box-shadow: inset 0px 1px 7px 3px var(--focus-ring-color);
}
.tabs button.btn.active:focus, .tabs button.btn.active:focus * {
  background-color: var(--focus-ring-color);
  color: var(--color-dark);
}
