.z-srch {
	position: absolute;
	left: 3px;
	top: 3px;
	right: 0;
}
.btn-z-in, .btn-z-out {
	background-size: 19px;
}
.btn-z-in {
	left: 0;
	top: 0;
}
.btn-z-out {
	left: 0;
	top: 37px;
}
.btn-z-in {
	background-image: var(--theme-zoom-in-bg-img);
}
.btn-z-out {
	background-image: var(--theme-zoom-out-bg-img);
}
.btn-geo {
  left: 0;
  top: 74px;
}
.btn-geo {
	background-image: var(--theme-zoom-geo-bg-img);
  background-size: 25px;
}
.srch {
	position: absolute;
	left: 38px;
	right: 3px;
	width: auto;
	max-width: 400px;
}
.srch input, .srch ul {
	opacity: 0.7;
}
.srch input {
	width: calc(100% - 28px);
	margin: 0;
	padding: 0 3px 0 23px;
}
.srch ul {
	display: none;
	max-height: 300px;
	padding: 0;
	list-style-type: none;
	box-shadow: var(--theme-box-shadow);
	overflow-x: hidden;
	overflow-y: auto;
	margin: 1px 0 0 0;
}
.srch:after {
	content: " ";
	background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214px%22%20height%3D%2214px%22%3E%3Cpath%20d%3D%22M10.171%2C8.766c0.617-0.888%2C0.979-1.964%2C0.979-3.126c0-3.037-2.463-5.5-5.5-5.5s-5.5%2C2.463-5.5%2C5.5s2.463%2C5.5%2C5.5%2C5.5%20c1.152%2C0%2C2.223-0.355%2C3.104-0.962l3.684%2C3.683l1.414-1.414L10.171%2C8.766z%20M5.649%2C9.14c-1.933%2C0-3.5-1.567-3.5-3.5%20c0-1.933%2C1.567-3.5%2C3.5-3.5c1.933%2C0%2C3.5%2C1.567%2C3.5%2C3.5C9.149%2C7.572%2C7.582%2C9.14%2C5.649%2C9.14z%22%20style%3D%22fill%3Argba(0%2C0%2C0%2C.4)%22%2F%3E%3C%2Fsvg%3E");
	background-size: 14px;
	background-repeat: no-repeat;
	position: absolute;
	top: 11px;
	left: 5px;
	width: 15px;
	height: 15px;
}
.srch input:focus {
	opacity: 1;
}
.z-srch .btn-x {
	display: none;
	position: absolute;
	left: calc(100% - 28px);
	top: 5px;
}
.srch ul li {
	background-color: var(--theme-pop-bg-color);
	cursor: pointer;
	padding: 6px;
	margin: 0;
	border-bottom: var(--theme-btn-sm-border);
}
.srch ul li:last-child {
	border-bottom: none;
}
.srch ul li:focus {
	outline: none;
}
.srch ul li:hover {
	background-color: var(--theme-btn-sm-bg-color);
	color: var(--theme-btn-sm-text-color);
}
.z-srch ul.retention {
	display: none;
}
.ol-control, .ol-zoom, .ol-attribution {
	display: none;
}
