.z-srch {
	position: fixed;
	left: 3px;
	top: 3px;
	right: 0;
}
.btn-z-in {
	left: 3px;
	top: 3px;
}
.btn-z-out {
	left: 3px;
	top: 40px;
}
.btn-z-in {
	background-image: var(--theme-zoom-in-bg-img);
}
.btn-z-out {
	background-image: var(--theme-zoom-out-bg-img);
}
.btn-geo {
  left: 3px;
  top: 77px;
}
.btn-geo {
	background-image: var(--theme-zoom-geo-bg-img);
  background-size: 25px;
}
.srch {
	position: fixed;
	left: 40px;
	right: 3px;
	width: 400px;
}
.srch input {
	height: 33px;
	width: calc(100% - 6px);
	opacity: 0.7;
	margin: 0;
	padding: 0 3px;
}
.srch input:focus {
	opacity: 1;
}
.srch ul {
	display: none;
}
.srch ul li {
	background-color: var(--theme-pop-bg-color);
	cursor: pointer;
	padding: 8px;
	margin: 0;
}
.srch ul li:hover {
	background-color: var(--theme-ctl-bg-color);
	color: var(--theme-ctl-text-color);
}
.srch ul {
	box-shadow: var(--theme-box-shadow);
	overflow-x: hidden;
	overflow-y: auto;
	margin: 3px 0 0 0;
}
.srch ul.retention {
	position: absolute;
	left: -1000px;
	top: -1000px;
}
.ol-zoom, .ol-attribution {
	display: none;
}
@media only screen and (max-width : 405px) {
	.srch {
		width: auto;
		right: 4px;
	}
}
