<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>JSDoc: <?js= title ?></title>

	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="scripts/prettify/prettify.js"> </script>
    <script src="scripts/prettify/lang-css.js"> </script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
    <link type="text/css" rel="stylesheet" href="styles/jsdoc-default.css">
    <link type="text/css" rel="stylesheet" href="styles/nyc.css">
</head>

<body>

<div id="main">

    <h1 class="page-title"><?js= title ?><div id="maps-nyc-gov">maps.nyc.gov</div></h1>
	<!-- begin content <?js= title ?> -->
	<?js if (title == 'Home'){ ?>
		<section class="nyc-lib-desc">
			<header>
				<h2>nyc-lib <span class="nyc-lib-ver">(version @@NYC-LIB-VER@@)</span></h2>
				<div class="class-description">
					A collection of javascript libraries used in the development New York City mapping applications.
				</div>
			</header>
			<article>
				<div class="description">
					<p>
						All of these libraries depend on <a>JQuery</a> and rendering is enhanced by <a>JQuery Mobile</a>.
					</p>
				    <p>
					    The <span class="nyc-bold">nyc-lib</span> javascript libraries
					    provides various javascript classes to interact with New York City data and 
					    provide a standard UX across mapping applications.
				    </p>
				    <p>
					    There are libraries providing functionality for applications utilizing 
					    <a href="http://openlayers.org/">OpenLayer 3</a>, <a href="http://leafletjs.com/">Leaflet</a>,
					    <a href="https://cartodb.com/">CartoDB</a> and <a href="http://www.chartjs.org/">ChartJS</a>.
				    </p>
				    <p>
				    	<h4>OpenLayers</h4>
				    	<input class="nyc-src-code" data-val='&lt;script src="https://@@HOST@@/@@NYC-LIB-VER@@/js/nyc-ol-lib.js"&gt;&lt;/script&gt;'><br>
						<input class="nyc-src-code" data-val='&lt;link href="https://@@HOST@@/@@NYC-LIB-VER@@/css/nyc-ol-lib.css" rel="stylesheet"&gt;&lt;/link&gt;'>
				    	<h4>OpenLayers Redline Tools</h4>
				    	<input class="nyc-src-code" data-val='&lt;script src="https://@@HOST@@/@@NYC-LIB-VER@@/js/nyc-ol-redline-lib.js"&gt;&lt;/script&gt;'><br>
						<input class="nyc-src-code" data-val='&lt;link href="https://@@HOST@@/@@NYC-LIB-VER@@/css/nyc-ol-redline-lib.css" rel="stylesheet"&gt;&lt;/link&gt;'>
				    	<h4>CartoDB and ChartJS</h4>
				    	<input class="nyc-src-code" data-val='&lt;script src="https://@@HOST@@/@@NYC-LIB-VER@@/js/nyc-carto-lib.js"&gt;&lt;/script&gt;'><br>
						<input class="nyc-src-code" data-val='&lt;link href="https://@@HOST@@/@@NYC-LIB-VER@@/css/nyc-carto-lib.css" rel="stylesheet"&gt;&lt;/link&gt;'>
				    	<h4>Leaflet</h4>
				    	<input class="nyc-src-code" data-val='&lt;script src="https://@@HOST@@/@@NYC-LIB-VER@@/js/nyc-leaf-lib.js"&gt;&lt;/script&gt;'><br>
						<input class="nyc-src-code" data-val='&lt;link href="https://@@HOST@@/@@NYC-LIB-VER@@/css/nyc-leaf-lib.css" rel="stylesheet"&gt;&lt;/link&gt;'>
				    	<script>
				    		$('.nyc-src-code').each(function(_, inp){
				    			$(inp).val($(inp).data('val').replace(/@@HOST@@/, document.location.host));
				    		});
				    		$('.nyc-src-code').click(function(){
				    			$(this).select();
				    		});
				    	</script>
				    </p>
				</div>
			</article>
		</section>
	<?js }else{ ?>
		<?js= content ?>
	<?js } ?>
	
</div>

<nav>
    <?js= this.nav ?>
</nav>

<br class="clear">

<footer>
	&copy; <?js= (new Date().getFullYear()) ?> City of New York<br>
    Documentation generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc <?js= env.version.number ?></a><?js if(env.conf.templates && env.conf.templates.default && env.conf.templates.default.includeDate !== false) { ?> on <?js= (new Date()) ?><?js } ?>
</footer>

<script> prettyPrint(); </script>
<script src="scripts/linenumber.js"> </script>
</body>
</html>
