:root {
  --font-family:                    'Helvetica Neue',Helvetica,Arial,sans-serif;
  
  /* colors */
  --color-dark:                     blue;
  --color-shadow:                   rgba(0,0,0,.1);
  --color-dark-translucent:         rgba(0,0,0,.5); 
  --color-medium-translucent:       rgba(100,100,100,.1);
  --color-medium:                   rgb(221,221,221);
  --color-medium-light-translucent: rgba(180,180,180,.1);
  --color-light:                    #fff;
  --color-light-translucent:        rgba(255,255,255,.9);
}
